<div class="page">
   <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
        Badge 徽章</div>
        <div class="demo-subtitle"></div>
    </div>
    <div class="page-body" style="padding:0;">

        <h2>Basic</h2>

        <div class="oreo-list">
            <div class="oreo-list-body">
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-thumb" style="position:relative;">
                        <img src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <sup class="oreo-badge-dot" style="position:absolute;top:0;right:-5px;"></sup>
                    </div>
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">标题</div> 
                        <div class="oreo-list-item-extra">
                            你有新的消息
                            <span class="oreo-badge-dot"></span>
                        </div> 
                        <div class="oreo-list-arrow"></div> 
                    </div>
                </div>
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">标题</div> 
                        <div class="oreo-list-item-extra">
                            你有新的消息
                            <span class="oreo-badge-text">New</span>
                        </div> 
                        <div class="oreo-list-arrow"></div> 
                    </div>
                </div>
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">标题</div> 
                        <div class="oreo-list-item-extra">
                            <span class="oreo-badge-text">9</span>
                        </div> 
                        <div class="oreo-list-arrow"></div>
                    </div>
                </div>
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            标题
                            <span class="oreo-badge-text">自动缴费</span>
                            <span class="oreo-badge-text">方便快捷</span>
                        </div>  
                        <div class="oreo-list-arrow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>