<div class="page">
    <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
            Badge 徽章</div>
        <div class="demo-subtitle"></div>
    </div>
    <div class="page-body" style="padding:0;">

        <h2>Basic</h2>

        <div class="oreo-list">
            <div class="oreo-list-body">
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-thumb" style="position:relative;">
                        <img src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <sup class="oreo-badge-dot" style="position:absolute;top:0;right:-5px;"></sup>
                    </div>
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">标题</div>
                        <div class="oreo-list-item-extra">
                            你有新的消息
                            <span class="oreo-badge-dot"></span>
                        </div>
                        <div class="oreo-list-arrow"></div>
                    </div>
                </div>
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">标题</div>
                        <div class="oreo-list-item-extra">
                            你有新的消息
                            <span class="oreo-badge-text">New</span>
                        </div>
                        <div class="oreo-list-arrow"></div>
                    </div>
                </div>
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">标题</div>
                        <div class="oreo-list-item-extra">
                            <span class="oreo-badge-text">9</span>
                        </div>
                        <div class="oreo-list-arrow"></div>
                    </div>
                </div>
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            标题
                            <span class="oreo-badge-text" data-type="badge">自动缴费</span>
                            <span class="oreo-badge-text" data-type="badge">方便快捷</span>
                        </div>
                        <div class="oreo-list-arrow"></div>
                    </div>
                </div>
                <!--小标签-->
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content oreo-tag">
                            <span class="oreo-tag-small oreo-tag-default">标签</span>
                            <span class="oreo-tag-small oreo-tag-red">标签</span>
                            <span class="oreo-tag-small oreo-tag-blue">标签</span>
                            <span class="oreo-tag-small oreo-tag-green">标签</span>
                            <span class="oreo-tag-small oreo-tag-purple">标签</span>
                            <span class="oreo-tag-small oreo-tag-orange">标签</span>
                        </div>
                    </div>
                </div>
                <!--中号标签-->
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            <span class="oreo-tag-middle oreo-tag-default">标签</span>
                            <span class="oreo-tag-middle oreo-tag-red">标签</span>
                            <span class="oreo-tag-middle oreo-tag-blue">标签</span>
                            <span class="oreo-tag-middle oreo-tag-green">标签</span>
                            <span class="oreo-tag-middle oreo-tag-purple">标签</span>
                            <span class="oreo-tag-middle oreo-tag-orange">标签</span>
                        </div>
                    </div>
                </div>
                <!--大号标签-->
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            <span class="oreo-tag-big oreo-tag-default">标签</span>
                            <span class="oreo-tag-big oreo-tag-red">标签</span>
                            <span class="oreo-tag-big oreo-tag-blue">标签</span>
                            <span class="oreo-tag-big oreo-tag-green">标签</span>
                            <span class="oreo-tag-big oreo-tag-purple">标签</span>
                            <span class="oreo-tag-big oreo-tag-orange">标签</span>
                        </div>
                    </div>
                </div>
                <!--半圆标签-->
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            <div class="oreo-tag-semicircle">
                                <div>半圆标签半圆标签</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--三角标签-->
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            <div class="oreo-tag-triangle">
                                <div class="direction left">
                                    <div>三角标签三角标签三角标签</div>
                                </div>
                                <div class="direction right">
                                    <div>三角标签三角标签</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>