<div class="page">
    <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
            checkBox 复选框</div>
    </div>
    <div class="page-body" style="padding:0;">
        <!-- input和label分居两侧 -->
        <h2>input和label分居两侧</h2>
        <div class="oreo-list-body">
            <div class="oreo-list-item oreo-selectBox">
                <div class="oreo-selectBox-thumb">
                    <input class="oreo-selectBox-thumb-inner" type="checkbox" value="" />
                </div>
                <label class="oreo-selectBox-label">超长文本选项</label>
            </div>
            <div class="oreo-list-item oreo-selectBox">
                <div class="oreo-selectBox-thumb">
                    <input class="oreo-selectBox-thumb-inner" type="checkbox" value="" />
                </div>
                <label class="oreo-selectBox-label">复选框</label>
            </div>
            <div class="oreo-list-item oreo-selectBox">
                <div class="oreo-selectBox-thumb">
                    <input class="oreo-selectBox-thumb-inner" type="checkbox" value="" />
                </div>
                <label class="oreo-selectBox-label">复选框</label>
            </div>
            <div class="oreo-list-item oreo-selectBox">
                <div class="oreo-selectBox-thumb">
                    <input class="oreo-selectBox-thumb-inner" type="checkbox" value="" disabled checked/>
                </div>
                <label class="oreo-selectBox-label">复选框</label>
            </div>
        </div>
        <!-- input和label居左对齐 -->
        <!-- 与上述区别 label添加class类名oreo-selectBox-flex -->
        <h2>input和label居左对齐</h2>
        <div class="oreo-list-body">
            <div class="oreo-list-item oreo-selectBox">
                <div class="oreo-selectBox-thumb">
                    <input class="oreo-selectBox-thumb-inner" type="checkbox" value="" />
                </div>
                <label class="oreo-selectBox-label oreo-selectBox-flex">超长文本选项超长文本选项超长文本选项超长文本选项超长文本选项超长文本选项超长文本选项</label>
            </div>
            <div class="oreo-list-item oreo-selectBox">
                <div class="oreo-selectBox-thumb">
                    <input class="oreo-selectBox-thumb-inner" type="checkbox" value="" />
                </div>
                <label class="oreo-selectBox-label oreo-selectBox-flex">复选框</label>
            </div>
            <div class="oreo-list-item oreo-selectBox">
                <div class="oreo-selectBox-thumb">
                    <input class="oreo-selectBox-thumb-inner" type="checkbox" value="" />
                </div>
                <label class="oreo-selectBox-label oreo-selectBox-flex">复选框</label>
            </div>
            <div class="oreo-list-item oreo-selectBox">
                <div class="oreo-selectBox-thumb">
                    <input class="oreo-selectBox-thumb-inner" type="checkbox" value="" disabled checked/>
                </div>
                <label class="oreo-selectBox-label oreo-selectBox-flex">复选框</label>
            </div>
        </div>
        <!-- 选择框在右侧 ***添加inner-right类名*** -->
        <h2>input选择框在右</h2>
        <div class="oreo-list-body">
            <div class="oreo-list-item oreo-selectBox inner-right">
                <div class="oreo-selectBox-thumb">
                    <input class="oreo-selectBox-thumb-inner" type="checkbox" value="" />
                </div>
                <label class="oreo-selectBox-label oreo-selectBox-flex">超长文本选项超长文本选项超长文本选项超长文本选项超长文本选项超长文本选项超长文本选项</label>
            </div>
            <div class="oreo-list-item oreo-selectBox inner-right">
                <div class="oreo-selectBox-thumb">
                    <input class="oreo-selectBox-thumb-inner" type="checkbox" value="" />
                </div>
                <label class="oreo-selectBox-label oreo-selectBox-flex">复选框</label>
            </div>
            <div class="oreo-list-item oreo-selectBox inner-right">
                <div class="oreo-selectBox-thumb">
                    <input class="oreo-selectBox-thumb-inner" type="checkbox" value="" />
                </div>
                <label class="oreo-selectBox-label oreo-selectBox-flex">复选框</label>
            </div>
            <div class="oreo-list-item oreo-selectBox inner-right">
                <div class="oreo-selectBox-thumb">
                    <input class="oreo-selectBox-thumb-inner" type="checkbox" value="" disabled checked/>
                </div>
                <label class="oreo-selectBox-label oreo-selectBox-flex">复选框</label>
            </div>
        </div>
        <!-- <h2>checkbox</h2> -->
        <div class="oreo-list-body oreo-selectBox-agree">
            <div class="oreo-list-item oreo-selectBox selectBox-agree">
                <div class="oreo-selectBox-thumb">
                    <input class="oreo-selectBox-thumb-inner" type="checkbox" value="" />
                </div>
                <label class="oreo-selectBox-label oreo-selectBox-flex">同意协议</label>
            </div>
        </div>
    </div>
</div>