<div class="page">
    <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
            List 列表</div>
        <div class="demo-subtitle">支持单行,多行,图标模式</div>
    </div>
    <div class="page-body" style="padding:0;">

        <h2>Basic</h2>

        <div class="oreo-list oreo-list-line">
            <div class="oreo-list-header">带说明的列表项</div>
            <div class="oreo-list-body">
                <div class="oreo-list-item">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">标题</div>
                        <div class="oreo-list-item-extra">内容</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="oreo-list ">
            <div class="oreo-list-header">带图标,带链接,不带border</div>
            <div class="oreo-list-body">
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-thumb">
                        <img src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                    </div>
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">标题</div>
                        <div class="oreo-list-item-extra"></div>
                        <div class="oreo-list-arrow"></div>
                    </div>
                </div>
                <div class="oreo-list-item oreo-list-item-link">
                    <div class="oreo-list-item-thumb">
                        <i class="oreo-icon-user" style="font-size:16px;"></i>
                    </div>
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">标题</div>
                        <div class="oreo-list-item-extra">这是一个链接</div>
                        <div class="oreo-list-arrow"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="oreo-list oreo-list-line">
            <div class="oreo-list-header">多行,带图标,带链接</div>
            <div class="oreo-list-body">
                <div class="oreo-list-item oreo-list-item-link oreo-list-item-multi">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            <div class="oreo-list-item-title">标题</div>
                            <div class="oreo-list-item-brief">描述性文字好长好长好长好长好长好长好长好长好长好长</div>
                        </div>
                        <div class="oreo-list-item-extra">扩展内容</div>
                    </div>
                </div>
                <div class="oreo-list-item oreo-list-item-link oreo-list-item-multi">
                    <div class="oreo-list-item-thumb">
                        <img src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                    </div>
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
                            <div class="oreo-list-item-brief">描述性文字好长好长好长好长好长好长好长好长好长好长</div>
                        </div>
                        <div class="oreo-list-arrow"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="oreo-list oreo-list-line">
            <div class="oreo-list-header">多行,带图标,带链接</div>
            <div class="oreo-list-body">
                <div class="oreo-list-item oreo-list-item-link oreo-list-item-multi">
                    <div class="oreo-list-item-thumb">
                        <img src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                    </div>
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            <div class="oreo-list-item-title">标题</div>
                            <div class="oreo-list-item-brief">描述性文字好长好长好长好长好长好长好长好长好长好长</div>
                        </div>
                        <div class="oreo-list-item-extra">扩展内容</div>
                        <div class="oreo-list-arrow"></div>
                    </div>
                </div>
                <div class="oreo-list-item oreo-list-item-link oreo-list-item-multi">
                    <div class="oreo-list-item-thumb">
                        <img src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                    </div>
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
                            <div class="oreo-list-item-brief">描述性文字好长好长好长好长好长好长好长好长好长好长</div>
                        </div>
                        <div class="oreo-list-arrow"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="oreo-list oreo-list-line">
            <div class="oreo-list-header">多行,带图标,带简介</div>
            <div class="oreo-list-body">
                <div class="oreo-list-item oreo-list-item-link oreo-list-item-search">
                    <div class="oreo-list-item-thumb">
                        <img src="http://owz1rt8et.bkt.clouddn.com/assets/nature02.jpg" alt="">
                    </div>
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            <div class="oreo-list-item-title"> 包含各类常用的`CSS`样式, 简单、方便、谁用谁知道😱...</div>
                            <div class="oreo-list-item-brief">Oreo框架</div>
                            <div class="oreo-list-item-info">
                                <div>简单</div>
                                <div>方便</div>
                                <div>实用</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="oreo-list-item oreo-list-item-link oreo-list-item-search">
                    <div class="oreo-list-item-thumb">
                        <img src="http://owz1rt8et.bkt.clouddn.com/assets/nature02.jpg" alt="">
                    </div>
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            <div class="oreo-list-item-title"> 包含各类常用的`CSS`样式, 简单、方便、谁用谁知道😱...</div>
                            <div class="oreo-list-item-brief">Oreo框架</div>
                            <div class="oreo-list-item-info">
                                <div>简单</div>
                                <div>方便</div>
                                <div>实用</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="oreo-list-item oreo-list-item-link oreo-list-item-search">
                    <div class="oreo-list-item-thumb">
                        <img src="http://owz1rt8et.bkt.clouddn.com/assets/nature02.jpg" alt="">
                    </div>
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            <div class="oreo-list-item-title"> 包含各类常用的`CSS`样式, 简单、方便、谁用谁知道😱...</div>
                            <div class="oreo-list-item-brief">Oreo框架</div>
                            <div class="oreo-list-item-info">
                                <div>简单</div>
                                <div>方便</div>
                                <div>实用</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="oreo-list oreo-list-line">
            <div class="oreo-list-header">多行,带图标</div>
            <div class="oreo-list-body oreo-list-flex">
                <div class="oreo-list-item oreo-list-item-link oreo-list-item-search">
                    <div class="oreo-list-item-thumb">
                        <img src="http://owz1rt8et.bkt.clouddn.com/assets/nature02.jpg" alt="">
                    </div>
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            <div class="oreo-list-item-title"> 包含各类常用的`CSS`样式, 简单、方便、谁用谁知道😱...</div>
                            <div class="oreo-list-item-brief">Oreo框架</div>
                            <div class="oreo-list-item-info">
                                <div>简单</div>
                                <div>方便</div>
                                <div>实用</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="oreo-list-item oreo-list-item-link oreo-list-item-search">
                    <div class="oreo-list-item-thumb">
                        <img src="http://owz1rt8et.bkt.clouddn.com/assets/nature02.jpg" alt="">
                    </div>
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            <div class="oreo-list-item-title"> 包含各类常用的`CSS`样式, 简单、方便、谁用谁知道😱...</div>
                            <div class="oreo-list-item-brief">Oreo框架</div>
                            <div class="oreo-list-item-info">
                                <div>简单</div>
                                <div>方便</div>
                                <div>实用</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="oreo-list-item oreo-list-item-link oreo-list-item-search">
                    <div class="oreo-list-item-thumb">
                        <img src="http://owz1rt8et.bkt.clouddn.com/assets/nature02.jpg" alt="">
                    </div>
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">
                            <div class="oreo-list-item-title"> 包含各类常用的`CSS`样式, 简单、方便、谁用谁知道😱...</div>
                            <div class="oreo-list-item-brief">Oreo框架</div>
                            <div class="oreo-list-item-info">
                                <div>简单</div>
                                <div>方便</div>
                                <div>实用</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oreo-list-footer">列表Footer</div>
        </div>


        <div class="oreo-list oreo-list-line">
            <div class="oreo-list-header">多行,带图标,带简介</div>
            <div class="oreo-list-body">
                <!--无图片展示-->
                <div class="oreo-list-item oreo-list-item-link oreo-list-item-search">
                    <div class="oreo-list-item-line oreo-list-item-message">
                        <div class="oreo-list-item-content">
                            <div class="oreo-list-item-title"> 包含各类常用的`CSS`样式, 简单、方便、谁用谁知道😱...</div>
                            <div class="oreo-list-item-brief">Oreo框架</div>
                            <div class="oreo-list-item-info">
                                <div class="list-item-focus">
                                    <div>简单简单简单简单简单简单简单</div>
                                    <div>方便</div>
                                    <div>实用</div>
                                    <div>简单</div>
                                    <div>方便</div>
                                    <div>实用</div>
                                    <div>简单</div>
                                    <div>方便</div>
                                    <div>实用</div>
                                    <div>方便</div>
                                    <div>实用</div>
                                </div>
                                <div> x </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--左文字说明，右图片展示-->
                <div class="oreo-list-item oreo-list-item-link oreo-list-item-search">
                    <div class="oreo-list-item-line oreo-list-item-message">
                        <div class="oreo-list-item-content">
                            <div class="oreo-list-item-title"> 包含各类常用的`CSS`样式, 简单、方便、谁用谁知道😱...</div>
                            <div class="oreo-list-item-brief">Oreo框架</div>
                            <div class="oreo-list-item-info">
                                <div class="list-item-focus">
                                    <div>简单</div>
                                    <div>方便</div>
                                    <div>实用</div>
                                </div>
                                <div> x </div>
                            </div>
                        </div>
                    </div>
                    <div class="oreo-list-item-thumb">
                        <img src="http://owz1rt8et.bkt.clouddn.com/assets/nature02.jpg" alt="">
                    </div>
                </div>
                <!--一行多个图片展示-->
                <div class="oreo-list-item oreo-list-item-link oreo-list-item-search">
                    <div class="oreo-list-item-line oreo-list-item-message">
                        <div class="oreo-list-item-content">
                            <div class="oreo-list-item-title"> 包含各类常用的`CSS`样式, 简单、方便、谁用谁知道😱...</div>
                            <div class="oreo-list-item-brief">Oreo框架</div>
                        </div>
                        <div class="oreo-list-item-thumb">
                            <img src="http://owz1rt8et.bkt.clouddn.com/assets/nature02.jpg" alt=""><img src="http://owz1rt8et.bkt.clouddn.com/assets/nature02.jpg"
                                alt=""><img src="http://owz1rt8et.bkt.clouddn.com/assets/nature02.jpg" alt="">
                        </div>
                        <div class="oreo-list-item-info">
                            <div class="list-item-focus">
                                <div>简单</div>
                                <div>方便</div>
                                <div>实用</div>
                            </div>
                            <div> x </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>