<div class="page demo-loading">
   <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
        Loading 加载</div>
        <div class="demo-subtitle">支持大, 小, 颜色</div>
    </div>
    <div class="page-body" style="padding:0;">

        <h2>Basic</h2>

        <section>
            <span class="oreo-loading oreo-loading-dark">
            </span>
        </section>

        <section>
            <span class="oreo-loading">
            </span>
        </section>

        <section>
            <span class="oreo-loading-sm oreo-loading-dark">
            </span>
        </section>

        <section>
            <span class="oreo-loading-sm">
            </span>
        </section>
    </div>
</div>