<!--<div class="page">
    <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
            Steps</div>
    </div>
    <div class="page-body oreo-steps-demo" style="padding:0;">
        <h2>横向步骤条</h2>
        <div class="oreo-steps oreo-steps-horizontal">
            <div class="oreo-steps-item oreo-steps-finished">
                <div class="timeLine"></div>
                <div class="steps">3</div>
                <div class="oreo-steps-item-content">
                    <div class="head">finish</div>
                    <div class="content">finish step</div>
                </div>
            </div>
            <div class="oreo-steps-item oreo-steps-finishing">
                <div class=""></div>
                <div class="steps">4</div>
                <div class="oreo-steps-item-content">
                    <div class="head">finishing</div>
                    <div class="content">finishing step</div>
                </div>
            </div>
        </div>
        <br>
        <h2>纵向步骤条</h2>
        <div class="oreo-steps oreo-steps-vertical">
            <div class="oreo-steps-item oreo-steps-finished">
                <div class="timeLine"></div>
                <div class="steps">1</div>
                <div class="oreo-steps-item-content">
                    <div class="head">finished</div>
                    <div class="content">finished step</div>
                </div>
            </div>
            <div class="oreo-steps-item oreo-steps-finished">
                <div class="timeLine"></div>
                <div class="steps">2</div>
                <div class="oreo-steps-item-content">
                    <div class="head">finished</div>
                    <div class="content">finished step</div>
                </div>
            </div>
            <div class="oreo-steps-item oreo-steps-finish">
                <div class="timeLine"></div>
                <div class="steps">3</div>
                <div class="oreo-steps-item-content">
                    <div class="head">finish</div>
                    <div class="content">finish step</div>
                </div>
            </div>
            <div class="oreo-steps-item oreo-steps-finishing">
                <div></div>
                <div class="steps">4</div>
                <div class="oreo-steps-item-content">
                    <div class="head">finishing</div>
                    <div class="content">finishing step</div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="page">
    <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
            Steps</div>
    </div>
    <div class="page-body" style="padding:0;">
        <h2>横向步骤条</h2>
        <div class="oreo-steps oreo-steps-horizontal">
            <div class="oreo-steps-item oreo-steps-finished">
                <div class="oreo-steps-item-process">
                    <div class="steps">1</div>
                    <div class="timeLine"></div>
                </div>
                <div class="oreo-steps-item-content">
                    <div class="head">finished</div>
                    <div class="content">finished step</div>
                </div>
            </div>
            <div class="oreo-steps-item oreo-steps-finished">
                <div class="oreo-steps-item-process">
                    <div class="steps">2</div>
                    <div class="timeLine"></div>
                </div>
                <div class="oreo-steps-item-content">
                    <div class="head">finished</div>
                    <div class="content">finished step</div>
                </div>
            </div>
            <div class="oreo-steps-item oreo-steps-finish">
                <div class="oreo-steps-item-process">
                    <div class="steps">3</div>
                    <div class="timeLine"></div>
                </div>
                <div class="oreo-steps-item-content">
                    <div class="head">finish</div>
                    <div class="content">finish step</div>
                </div>
            </div>
            <div class="oreo-steps-item oreo-steps-finishing">
                <div class="oreo-steps-item-process">
                    <div class="steps">4</div>
                    <div class=""></div>
                </div>
                <div class="oreo-steps-item-content">
                    <div class="head">finishing</div>
                    <div class="content">finishing step</div>
                </div>
            </div>
        </div>
        <br>
        <h2>纵向步骤条</h2>
        <div class="oreo-steps oreo-steps-vertical">
            <div class="oreo-steps-item oreo-steps-finished">
                <div class="oreo-steps-item-process">
                    <div class="steps">1</div>
                    <div class="timeLine"></div>
                </div>
                <div class="oreo-steps-item-content">
                    <div class="head">finished</div>
                    <div class="content">finished step</div>
                </div>
            </div>
            <div class="oreo-steps-item oreo-steps-finished">
                <div class="oreo-steps-item-process">
                    <div class="steps">2</div>
                    <div class="timeLine"></div>
                </div>
                <div class="oreo-steps-item-content">
                    <div class="head">finished</div>
                    <div class="content">finished step</div>
                </div>
            </div>
            <div class="oreo-steps-item oreo-steps-finish">
                <div class="oreo-steps-item-process">
                    <div class="steps">3</div>
                    <div class="timeLine"></div>
                </div>
                <div class="oreo-steps-item-content">
                    <div class="head">finish</div>
                    <div class="content">finish step</div>
                </div>
            </div>
            <div class="oreo-steps-item oreo-steps-finishing">
                <div class="oreo-steps-item-process">
                    <div class="steps">4</div>
                    <div class="timeLine"></div>
                </div>
                <div class="oreo-steps-item-content">
                    <div class="head">finishing</div>
                    <div class="content">finishing step</div>
                </div>
            </div>
        </div>
    </div>
</div>