<div class="page">
    <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
            tabbar</div>
    </div>
    <div class="page-body" style="padding:0;">
        <h2>Top</h2>
        <div class="oreo-tabs oreo-tabs-top">
            <div class="oreo-tabs-bar-wrap">
                <div class="oreo-tabs-default-bar oreo-tabs-default-bar-animated">
                    <div class="oreo-tabs-default-bar-content">
                        <div class="oreo-tabs-default-bar-tab oreo-tabs-default-bar-tab-active" style="width:33.3%">选项一</div>
                        <div class="oreo-tabs-default-bar-tab " style="width:33.3%">选项二</div>
                        <div class="oreo-tabs-default-bar-tab" style="width:33.3%">选项三</div>
                        <div class="oreo-tabs-default-bar-line" style="width:33.3%;left:0%;"></div>
                    </div>
                </div>
            </div>
            <div class="oreo-tabs-content-wrap oreo-tabs-content-wrap-animated">
                <div class="oreo-tabs-panel-wrap oreo-tabs-panel-wrap-active">
                 <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of first tab</div>
                </div>
                <div class="oreo-tabs-panel-wrap ">
                    <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of second tab</div>
                </div>
                <div class="oreo-tabs-panel-wrap">
                    <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of third tab</div>
                </div>
            </div>
        </div>

        <h2>Bottom</h2>
        <div class="oreo-tabs oreo-tabs-bottom">
            
            <div class="oreo-tabs-content-wrap oreo-tabs-content-wrap-animated">
                <div class="oreo-tabs-panel-wrap oreo-tabs-panel-wrap-active">
                 <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of first tab</div>
                </div>
                <div class="oreo-tabs-panel-wrap ">
                    <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of second tab</div>
                </div>
                <div class="oreo-tabs-panel-wrap">
                    <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of third tab</div>
                </div>
            </div>
            <div class="oreo-tabs-bar-wrap">
                <div class="oreo-tabs-default-bar oreo-tabs-default-bar-animated">
                    <div class="oreo-tabs-default-bar-content">
                        <div class="oreo-tabs-default-bar-tab oreo-tabs-default-bar-tab-active" style="width:33.3%">选项一</div>
                        <div class="oreo-tabs-default-bar-tab " style="width:33.3%">选项二</div>
                        <div class="oreo-tabs-default-bar-tab" style="width:33.3%">选项三</div>
                        <div class="oreo-tabs-default-bar-line" style="width:33.3%;left:0%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <h2>left</h2>
        <div style="height:150px;">
            <div class="oreo-tabs oreo-tabs-left">
                <div class="oreo-tabs-bar-wrap">
                    <div class="oreo-tabs-default-bar oreo-tabs-default-bar-animated">
                        <div class="oreo-tabs-default-bar-content">
                            <div class="oreo-tabs-default-bar-tab oreo-tabs-default-bar-tab-active" style="height:33.3%">选项一</div>
                            <div class="oreo-tabs-default-bar-tab " style="height:33.3%">选项二</div>
                            <div class="oreo-tabs-default-bar-tab" style="height:33.3%">选项三</div>
                            <div class="oreo-tabs-default-bar-line" style="height:33.3%;right:0%;"></div>
                        </div>
                    </div>
                </div>
                <div class="oreo-tabs-content-wrap oreo-tabs-content-wrap-animated">
                    <div class="oreo-tabs-panel-wrap oreo-tabs-panel-wrap-active">
                    <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of first tab</div>
                    </div>
                    <div class="oreo-tabs-panel-wrap ">
                        <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of second tab</div>
                    </div>
                    <div class="oreo-tabs-panel-wrap">
                        <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of third tab</div>
                    </div>
                </div>
            </div>
        </div>
        
        <h2>right</h2>

        <div style="height:150px;">
            <div class="oreo-tabs oreo-tabs-right">
                <div class="oreo-tabs-content-wrap oreo-tabs-content-wrap-animated">
                    <div class="oreo-tabs-panel-wrap oreo-tabs-panel-wrap-active">
                    <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of first tab</div>
                    </div>
                    <div class="oreo-tabs-panel-wrap ">
                        <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of second tab</div>
                    </div>
                    <div class="oreo-tabs-panel-wrap">
                        <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of third tab</div>
                    </div>
                </div>
                <div class="oreo-tabs-bar-wrap">
                    <div class="oreo-tabs-default-bar oreo-tabs-default-bar-animated">
                        <div class="oreo-tabs-default-bar-content">
                            <div class="oreo-tabs-default-bar-tab oreo-tabs-default-bar-tab-active" style="height:33.3%">选项一</div>
                            <div class="oreo-tabs-default-bar-tab " style="height:33.3%">选项二</div>
                            <div class="oreo-tabs-default-bar-tab" style="height:33.3%">选项三</div>
                            <div class="oreo-tabs-default-bar-line" style="height:33.3%;top:0%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <h2>Top</h2>
        <div class="oreo-tabs oreo-tabs-top">
            <div class="oreo-tabs-bar-wrap">
                <div class="oreo-tabs-default-bar oreo-tabs-default-bar-animated">
                    <div class="oreo-tabs-default-bar-content">
                        <div class="oreo-tabs-default-bar-tab oreo-tabs-default-bar-tab-active" style="width:33.3%">选项一</div>
                        <div class="oreo-tabs-default-bar-tab " style="width:33.3%">选项二</div>
                        <div class="oreo-tabs-default-bar-tab" style="width:33.3%">选项三</div>
                        <div class="oreo-tabs-default-bar-tab " style="width:33.3%">选项四</div>
                        <div class="oreo-tabs-default-bar-tab" style="width:33.3%">选项五</div>
                        <div class="oreo-tabs-default-bar-tab " style="width:33.3%">选项六</div>
                        <div class="oreo-tabs-default-bar-tab" style="width:33.3%">选项七</div>
                        <div class="oreo-tabs-default-bar-line" style="width:33.3%;left:0%;"></div>
                    </div>
                </div>
            </div>
            <div class="oreo-tabs-content-wrap oreo-tabs-content-wrap-animated">
                <div class="oreo-tabs-panel-wrap oreo-tabs-panel-wrap-active">
                 <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of first tab</div>
                </div>
                <div class="oreo-tabs-panel-wrap ">
                    <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of second tab</div>
                </div>
                <div class="oreo-tabs-panel-wrap">
                    <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of third tab</div>
                </div>
                <div class="oreo-tabs-panel-wrap ">
                    <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of 4 tab</div>
                </div>
                <div class="oreo-tabs-panel-wrap">
                    <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of 5 tab</div>
                </div>
                <div class="oreo-tabs-panel-wrap ">
                    <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of 6 tab</div>
                </div>
                <div class="oreo-tabs-panel-wrap">
                    <div style="display: flex; align-items: center; justify-content: center; height: 150px; background-color: rgb(255, 255, 255);">Content of 7 tab</div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    var target = ['right','top','bottom','left'];

    $(function() {

        $.each(target, function(index, item){

            $('.oreo-tabs-'+item+' .oreo-tabs-default-bar-tab').on('click',function(){
                var activeBar = 'oreo-tabs-default-bar-tab-active',
                    activePanel = 'oreo-tabs-panel-wrap-active';

                var index = $(this).index(),
                    barOffset = index *33.3 +'%',
                    panelOffset = - (index *100) +'%',
                    lineCss={},
                    transform='';

                if(item ==='top' || item ==='bottom'){
                    lineCss['left']=barOffset;
                    transform='translate3d('+panelOffset+', 0px, 1px)';
                }else{
                    lineCss['top']=barOffset;
                    transform='translate3d(0px,'+panelOffset+',1px)';
                }
                

                $(this).addClass(activeBar).siblings().removeClass(activeBar);
                $(this).siblings('.oreo-tabs-default-bar-line').css(lineCss);

                $(this).parents('.oreo-tabs').find('.oreo-tabs-panel-wrap').eq(index).addClass(activePanel).siblings().removeClass(activePanel)
                $(this).parents('.oreo-tabs').find('.oreo-tabs-content-wrap')[0].style.transform =transform;
                $(this).parents('.oreo-tabs').find('.oreo-tabs-content-wrap')[0].style.webkitTransform  =transform;

            })
        })
    });
</script>