@import "../oreo-list/oreo-list.less";
@inputPrefixCls: oreo-input;

.@{listPrefixCls}-item {
    &.@{inputPrefixCls} {
        height: @list-item-height;
        padding: 0 @h-spacing-md;
        &:after{
            .setBottomLine(@border-color-base);
        }
    }
    .@{inputPrefixCls}-label{
        color: @color-text-base;
        font-size:@font-size-headline;
        margin-right: @h-spacing-sm;
        text-align: left;

        padding: 4px 0;
        width: @input-label-width * 5;
        .textOverflow();
    }
    .@{inputPrefixCls}-control{
        font-size: @font-size-title;
        flex: 1;
        input{
            color: @color-text-base;
            font-size: @font-size-base;
            appearance: none;
            width: 100%;
            padding: 4px 0;
            border: 0;

            outline: 0;
            background-color: transparent;
            line-height: @line-height-base;
            box-sizing: border-box;

            &::-webkit-input-placeholder {
                color: @color-text-placeholder;
                line-height: 1.2;
            }
            &:disabled {
                color: @color-text-disabled;
                background-color: #fff;
            }
            &.@{inputPrefixCls}-right{
                text-align: right;
            }
        }
    }
    &.@{inputPrefixCls}-disabled{
        .@{inputPrefixCls}-label{
            color: @color-text-disabled;
        }
    }
}