<div class="page">
   <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
        Button 按钮</div>
        <div class="demo-subtitle"></div>
    </div>
    <div class="page-body" style="padding:0;">

        <h2>Basic</h2>

        <div class="demo-button">
            <a href="javascript:;" class="oreo-button">Baisc Button</a>

            <a href="javascript:;" class="oreo-button oreo-button-primary">Primary Button</a>

            <a href="javascript:;" class="oreo-button oreo-button-disabled">Disabled Baisc Button</a>

            <a href="javascript:;" class="oreo-button oreo-button-primary oreo-button-disabled">Disabled Primary Button</a>
        </div>




        <h2>Small</h2>

        <div class="demo-button">
            <a href="javascript:;" class="oreo-button oreo-button-small">Small Button</a>

            <a href="javascript:;" class="oreo-button oreo-button-primary oreo-button-small">Small Primary Button</a>
        </div>

        <h2>Round</h2>

        <div class="demo-button">
            <a href="javascript:;" class="oreo-button oreo-button-round">Round Button</a>

            <a href="javascript:;" class="oreo-button oreo-button-primary oreo-button-small oreo-button-round">Small Primary Button</a>
        </div>


        <h2>Success,Error</h2>

        <div class="demo-button">
            <a href="javascript:;" class="oreo-button oreo-button-success">Success Button</a>

            <a href="javascript:;" class="oreo-button oreo-button-error ">Error Button</a>
        </div>

        <h2>Inline</h2>

        <div class="demo-button">
            <a href="javascript:;" class="oreo-button oreo-button-inline">Inline Button</a>

            <a href="javascript:;" class="oreo-button oreo-button-primary oreo-button-inline">Inline Primary Button</a>

            <a href="javascript:;" class="oreo-button oreo-button-inline oreo-button-small">Small Button</a>

            <a href="javascript:;" class="oreo-button oreo-button-primary oreo-button-inline oreo-button-small">Inline Small Primary Button</a>

            <a href="javascript:;" class="oreo-button oreo-button-success oreo-button-inline oreo-button-small">Inline Small Success Button</a>
        </div>
    </div>
</div>