<div class="page">
    <div class="page-hd">
        Button
    </div>
    <div class="page-body">
        
        
        <a href="javascript:;" class="o-button">默认button</a>


        <a href="javascript:;" class="o-button o-button-primary">primary</a>


        <a href="javascript:;" class="o-button o-button-disabled">disabled</a>


        <a href="javascript:;" class="o-button o-button-icon">
            <img src="https://zos.alipayobjects.com/rmsportal/dNuvNrtqUztHCwM.png" alt="">
            <span>icon button</span>
        </a>
        
        <a href="javascript:;" class="o-button o-button-warning">警告类</a>

        <a href="javascript:;" class="o-button o-button-success">成功类</a>        

        <a href="javascript:;" class="o-button o-button-error">错误类</a>

        <a href="javascript:;" class="o-button o-button-flat-default">无背景类</a>

        <a href="javascript:;" class="o-button o-button-flat-primary">无背景类</a>

        <a href="javascript:;" class="o-button o-button-flat-warning">无背景类</a>

        <a href="javascript:;" class="o-button o-button-flat-success">无背景类</a>

        <a href="javascript:;" class="o-button o-button-flat-error">无背景类</a>
        
        <div class="inline">
            <a href="javascritp:;" class="o-button o-button-inline">行内类</a>
            
            <a href="javascritp:;" class="o-button o-button-small">小尺寸</a>
        
            <a href="javascript:;" class="o-button o-button-small o-button-primary">小尺寸</a>
        </div>
        
        <div class="o-button-group">
            <a href="javascript:;" class="o-button">按钮</a>
            <a href="javascript:;" class="o-button">按钮</a>
            <a href="javascript:;" class="o-button">按钮</a>
        </div>
        <div class="o-button-group o-button-capsule">
            <a href="javascript:;" class="o-button">按钮</a>
            <a href="javascript:;" class="o-button">按钮</a>
            <a href="javascript:;" class="o-button">按钮</a>
        </div>
        <div class="o-button-group">
            <a href="javascript:;" class="o-button o-button-primary">按钮</a>
            <a href="javascript:;" class="o-button o-button-primary">按钮</a>
            <a href="javascript:;" class="o-button o-button-primary">按钮</a>
        </div>
        <div class="o-button-group o-button-icon">
            <a href="javascript:;" class="o-button">
                <img src="https://zos.alipayobjects.com/rmsportal/dNuvNrtqUztHCwM.png" alt="">
                <span>按钮</span>
            </a>
            <a href="javascript:;" class="o-button">
                <img src="https://zos.alipayobjects.com/rmsportal/dNuvNrtqUztHCwM.png" alt="">
                <span>按钮</span>
            </a>
            <a href="javascript:;" class="o-button">
                <img src="https://zos.alipayobjects.com/rmsportal/dNuvNrtqUztHCwM.png" alt="">
                <span>按钮</span>
            </a>
        </div>
    </div>
</div>