<div class="page">
    <div class="page-hd">
        Button
    </div>
    <div class="page-body">
        
        <h2>block 类</h2>
        <a href="javascript:;" class="o-button o-button-default">默认button</a>
        <a href="javascript:;" class="o-button o-button-primary o-button-primary-shadow">primary</a>
        <a href="javascript:;" class="o-button o-button-primary-disabled">primary Disabled</a>
        <a href="javascript:;" class="o-button o-button-disabled">disabled</a>
        <a href="javascript:;" class="o-button o-button-warning">警告类</a>
        <a href="javascript:;" class="o-button o-button-warning-disabled">警告disabled类</a>
        <a href="javascript:;" class="o-button o-button-success">成功类</a>        
        <a href="javascript:;" class="o-button o-button-success-disabled">成功disabled类</a>        
        <a href="javascript:;" class="o-button o-button-error">错误类</a>
        <a href="javascript:;" class="o-button o-button-error-disabled">错误类</a>
        <a href="javascript:;" class="o-button o-button-default o-button-capsule">胶囊状类</a>
       
        <h2>Block , icon 类</h2>
        <a href="javascript:;" class="o-button o-button-icon">
            <img src="https://zos.alipayobjects.com/rmsportal/dNuvNrtqUztHCwM.png" alt="">
            <span>icon button</span>
        </a>

        <h2>Block , 无背景类</h2>
        <a href="javascript:;" class="o-button o-button-flat-default">无背景类</a>
        <a href="javascript:;" class="o-button o-button-flat-primary">无背景类</a>

        <a href="javascript:;" class="o-button o-button-flat-warning">无背景类</a>

        <a href="javascript:;" class="o-button o-button-flat-success">无背景类</a>

        <a href="javascript:;" class="o-button o-button-flat-error">无背景类</a>
        
        <h2>inline-block类</h2>
        <div class="inline">
            <a href="javascritp:;" class="o-button o-button-inline">行内类</a>
            <a href="javascritp:;" class="o-button o-button-inline o-button-primary">行内类</a>
            
        </div>  

        <h2>block , 小尺寸</h2>  
        <a href="javascritp:;" class="o-button o-button-small">小尺寸</a>
    
        <a href="javascript:;" class="o-button o-button-small o-button-primary">小尺寸</a>
        
        <h2>block 组</h2>
        <div class="o-button-group">
            <a href="javascript:;" class="o-button">按钮</a>
            <a href="javascript:;" class="o-button">按钮</a>
            <a href="javascript:;" class="o-button">按钮</a>
        </div>
        <div class="o-button-group o-button-capsule">
            <a href="javascript:;" class="o-button">按钮</a>
            <a href="javascript:;" class="o-button">按钮</a>
            <a href="javascript:;" class="o-button">按钮</a>
        </div>
        <div class="o-button-group">
            <a href="javascript:;" class="o-button o-button-primary">按钮</a>
            <a href="javascript:;" class="o-button o-button-primary">按钮</a>
            <a href="javascript:;" class="o-button o-button-primary">按钮</a>
        </div>

        <h2>带icon button组</h2>
        <div class="o-button-group o-button-icon">
            <a href="javascript:;" class="o-button">
                <img src="https://zos.alipayobjects.com/rmsportal/dNuvNrtqUztHCwM.png" alt="">
                <span>按钮</span>
            </a>
            <a href="javascript:;" class="o-button">
                <img src="https://zos.alipayobjects.com/rmsportal/dNuvNrtqUztHCwM.png" alt="">
                <span>按钮</span>
            </a>
            <a href="javascript:;" class="o-button">
                <img src="https://zos.alipayobjects.com/rmsportal/dNuvNrtqUztHCwM.png" alt="">
                <span>按钮</span>
            </a>
        </div>
    </div>
</div>