<div class="page">
    <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
            Cardview</div>
        <div class="demo-subtitle"></div>
    </div>
    <div class="page-body" style="padding:0;">
        <h2>卡片视图</h2>
        <div class="oreo-card">
            <div class="oreo-card-header">
                <div class="oreo-card-inner">页眉</div>
            </div>
            <div class="oreo-card-content">
                <div class="oreo-card-inner">
                    卡片视图包含页眉页脚，页眉通常用来显示面板标题，页脚用来显示额外信息或支持的操作（比如点赞、评论等）
                </div>
            </div>
            <div class="oreo-card-footer">页脚</div>
        </div>
        <div class="oreo-card">
            <div class="oreo-card-header">
                <img src="res/imgs/example.png" alt="">
            </div>
            <div class="oreo-card-content">
                <div class="oreo-card-inner oreo-card-media">
                    <p class="card-post">发布于2017年10月30日</p>
                    <p class="card-details">这里简单介绍内容详情...</p>
                </div>
            </div>
            <div class="oreo-card-footer">
                <a href="javascript:;">Comment</a>
                <a href="javascript:;">Fabulous</a>
            </div>
        </div>
        <div class="oreo-card">
            <div class="oreo-card-header">
                <div class="oreo-card-inner">
                    <img class="card-logo" src="res/imgs/example.png" alt="">
                    <div class="card-media-body">
                        <p class="card-media-body-title">hello word</p>
                        <p class="card-media-body-detail">Welcome to Oreo</p>
                    </div>
                </div>
            </div>
            <div class="oreo-card-content">
                <img src="res/imgs/example.png" alt="">
            </div>
            <div class="oreo-card-footer">
                <a href="javascript:;">Comment</a>
                <a href="javascript:;">Fabulous</a>
                <a href="javascript:;">Forward</a>
            </div>
        </div>
    </div>
</div>