<div class="page">
    <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home"></a>
            Column 多列布局</div>
        <div class="demo-subtitle">该布局基于flex,支持多列及图文排列</div>
    </div>
    <div class="page-body" style="padding:0;">
        <h2>栅格以每行最多24列为例</h2>
        <div class="oreo-row">
            <div class="oreo-col oreo-col-24">
                <div>100%</div>
            </div>
        </div>
        <div class="oreo-row">
            <div class="oreo-col oreo-col-12">
                <div class="oreo-col-thumb">50%</div>
            </div>
            <div class="oreo-col oreo-col-12">
                <div class="oreo-col-thumb">50%</div>
            </div>
        </div>
        <div class="oreo-row">
            <div class="oreo-col oreo-col-8">
                <div>33.3%</div>
            </div>
            <div class="oreo-col oreo-col-8">
                <div>33.3%</div>
            </div>
            <div class="oreo-col oreo-col-8">
                <div>33.3%</div>
            </div>
        </div>
        <div class="oreo-row">
            <div class="oreo-col oreo-col-6">
                <div>25%</div>
            </div>
            <div class="oreo-col oreo-col-6">
                <div>25%</div>
            </div>
            <div class="oreo-col oreo-col-6">
                <div>25%</div>
            </div>
            <div class="oreo-col oreo-col-6">
                <div>25%</div>
            </div>
        </div>
        <div class="oreo-row">
            <div class="oreo-col oreo-col-4">
                <div>16.6%</div>
            </div>
            <div class="oreo-col oreo-col-4">
                <div>16.6%</div>
            </div>
            <div class="oreo-col oreo-col-4">
                <div>16.6%</div>
            </div>
            <div class="oreo-col oreo-col-4">
                <div>16.6%</div>
            </div>
            <div class="oreo-col oreo-col-4">
                <div>16.6%</div>
            </div>
            <div class="oreo-col oreo-col-4">
                <div>16.6%</div>
            </div>
        </div>
        <div class="oreo-row">
            <div class="oreo-col oreo-col-8">
                <div>33.3%</div>
            </div>
            <div class="oreo-col oreo-col-16">
                <div>66.6%</div>
            </div>
        </div>
        <div class="oreo-row">
            <div class="oreo-col oreo-col-4">
                <div>16.6%</div>
            </div>
            <div class="oreo-col oreo-col-12">
                <div>50%</div>
            </div>
            <div class="oreo-col oreo-col-8">
                <div>33.3%</div>
            </div>
        </div>
    </div>
</div>