<div class="page">
   <div class="page-hd">
        <div class="demo-name">Flex 布局</div>
    </div>
    <div class="page-body">
        

        <h2>Basic,Row</h2>

        <div class="oreo-flex demo-flex">
            <div class="oreo-flex-item ">
                <div class="demo-flex-item">Item</div>
            </div>
             <div class="oreo-flex-item ">
                <div class="demo-flex-item">Item</div>
            </div>
        </div>


        <div class="oreo-flex demo-flex">
            <div class="oreo-flex-item demo-flex-item">Item</div>
            <div class="oreo-flex-item demo-flex-item">Item</div>
            <div class="oreo-flex-item demo-flex-item">Item</div>
        </div>

        <div class="oreo-flex demo-flex">
            <div class="oreo-flex-item demo-flex-item">Item</div>
            <div class="oreo-flex-item demo-flex-item">Item</div>
            <div class="oreo-flex-item demo-flex-item">Item</div>
            <div class="oreo-flex-item demo-flex-item">Item</div>
        </div>

        <div class="oreo-flex demo-flex">
            <div class="demo-flex-item">Item</div>
            <div class="oreo-flex-item demo-flex-item">Item</div>
        </div>

         <div class="oreo-flex demo-flex">
            <div class="demo-flex-item">Item</div>
            <div class="oreo-flex-item demo-flex-item">Item</div>
            <div class="oreo-flex-item demo-flex-item">Item</div>
        </div>


        <h2>Basic,Colum</h2>

        <div class="oreo-flex oreo-flex-colum demo-flex">
            <div class="demo-flex-item">Item</div>
            <div class="oreo-flex-item demo-flex-item">Item</div>
            <div class="oreo-flex-item demo-flex-item">Item</div>
        </div>

        <h2>Basic,Wrap</h2>

        <div class="oreo-flex oreo-flex-wrap demo-flex">
            <div class="demo-flex-item" style="width:33%;">Item</div>
            <div class="demo-flex-item" style="width:33%;">Item</div>
            <div class="demo-flex-item" style="width:33%;">Item</div>
            <div class="demo-flex-item" style="width:33%;">Item</div>
            <div class="demo-flex-item" style="width:33%;">Item</div>
        </div>

    </div>
</div>