<div class="page">
    <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
            Footer</div>
    </div>
    <div class="page-body" style="padding:0;">
        <h2>页脚</h2>
        <div class="oreo-footer">
            <p class="oreo-footer-text">Copyright © 2017-2017 oreo.footer</p>
        </div>
        <br>
        <br>
        <div class="oreo-footer">
            <p class="oreo-footer-links">
                <a class="oreo-footer-link" href="javascript:void(0);">底部链接</a>
            </p>
            <p class="oreo-footer-text">Copyright © 2017-2017 oreo.footer</p>
        </div>
        <br>
        <br>
        <div class="oreo-footer">
            <p class="oreo-footer-links">
                <a class="oreo-footer-link" href="javascript:void(0);">底部链接</a>
                <a class="oreo-footer-link oreo-footer-vertical" href="javascript:void(0);">底部链接</a>
            </p>
            <p class="oreo-footer-text">Copyright © 2017-2017 oreo.footer</p>
        </div>
        <br>
        <br>
        <div class="oreo-footer">
            <p class="oreo-footer-links">
                <!-- <span class="oreo-footer-line"></span> -->
                <a class="oreo-footer-link oreo-footer-line extend-line" href="javascript:void(0);">底部链接</a>
                <!-- <span class="oreo-footer-line"></span> -->
            </p>
            <p class="oreo-footer-text">Copyright © 2017-2017 oreo.footer</p>
        </div>
    </div>
</div>