<div class="page">
    <div class="page-hd">
        <div class="demo-name">form</div>
    </div>
    <div class="page-body">
        <h2>checkBox</h2>
        <!-- block checkBlock -->
        <div class="oreo-select">
            <div class="oreo-select-header">Block</div>
            <div class="oreo-select-item block-checkBox">
                <div class="oreo-select-list oreo-select-bottomLine">
                    <input class="oreo-checkBox-frame" type="checkbox" value="" />
                    <label class="oreo-checkBox-content textOverflow">超长文本选项超长文本选项超长文本选项超长文本选项</label>
                </div>
                <div class="oreo-select-list oreo-select-bottomLine">
                    <input class="oreo-checkBox-frame" type="checkbox" value="" />
                    <label class="oreo-checkBox-content textOverflow">复选框</label>
                </div>
                <div class="oreo-select-list disabled-select oreo-select-bottomLine">
                    <input class="oreo-checkBox-frame" type="checkbox" value="" disabled/>
                    <label class="oreo-checkBox-content textOverflow">复选框</label>
                </div>
                <div class="oreo-select-list disabled-select">
                    <input class="oreo-checkBox-frame" type="checkbox" value="" disabled checked/>
                    <label class="oreo-checkBox-content textOverflow">复选框</label>
                </div>
            </div>
        </div>
        <!-- left checkBlock -->
        <div class="oreo-select">
            <div class="oreo-select-header">Block space-between</div>
            <div class="oreo-select-item block-checkBox">
                <div class="oreo-select-list checkBox-left oreo-select-bottomLine">
                    <input class="oreo-checkBox-frame" type="checkbox" value="" />
                    <label class="oreo-checkBox-content textOverflow">超长文本选项超长文本选项超长文本选项超长文本选项</label>
                </div>
                <div class="oreo-select-list checkBox-left oreo-select-bottomLine">
                    <input class="oreo-checkBox-frame" type="checkbox" value="" />
                    <label class="oreo-checkBox-content textOverflow">复选框 居左</label>
                </div>
                <div class="oreo-select-list oreo-select-bottomLine checkBox-left disabled-select">
                    <input class="oreo-checkBox-frame" type="checkbox" value="" disabled/>
                    <label class="oreo-checkBox-content textOverflow">复选框 居左</label>
                </div>
                <div class="oreo-select-list checkBox-right oreo-select-bottomLine">
                    <input class="oreo-checkBox-frame" type="checkbox" value="" />
                    <label class="oreo-checkBox-content textOverflow">复选框 居右</label>
                </div>
                <div class="oreo-select-list checkBox-right disabled-select">
                    <input class="oreo-checkBox-frame" type="checkbox" value="" disabled/>
                    <label class="oreo-checkBox-content textOverflow">复选框 居右</label>
                </div>
            </div>
        </div>
        <!-- inline-block -->
        <div class="oreo-select">
            <div class="oreo-select-header">inline-block</div>
            <div class="oreo-select-item inlineBlock-checkBox">
                <div class="oreo-select-list checkBox-left">
                    <input class="oreo-checkBox-frame" type="checkbox" value="" />
                    <label class="oreo-checkBox-content textOverflow">复选框</label>
                </div>
                <div class="oreo-select-list checkBox-left">
                    <input class="oreo-checkBox-frame" type="checkbox" value="" />
                    <label class="oreo-checkBox-content textOverflow">复选框</label>
                </div>
                <div class="oreo-select-list checkBox-left">
                    <input class="oreo-checkBox-frame" type="checkbox" value="" />
                    <label class="oreo-checkBox-content textOverflow">复选框</label>
                </div>
                <div class="oreo-select-list checkBox-left">
                    <input class="oreo-checkBox-frame" type="checkbox" value="" />
                    <label class="oreo-checkBox-content textOverflow">复选框</label>
                </div>
            </div>
        </div>
        <h2>radio</h2>
        <!-- block radio -->
        <div class="oreo-select">
            <div class="oreo-select-header">Block</div>
            <div class="oreo-select-item block-radio">
                <div class="oreo-select-list oreo-select-bottomLine">
                    <input class="oreo-radio-frame" name="radio" type="radio" />
                    <label class="oreo-radio-content textOverflow">超长文本选项超长文本选项超长文本选项超长文本选项</label>
                </div>
                <div class="oreo-select-list oreo-select-bottomLine">
                    <input class="oreo-radio-frame" name="radio" type="radio" />
                    <label class="oreo-radio-content textOverflow">单选框</label>
                </div>
                <div class="oreo-select-list oreo-select-bottomLine disabled-select">
                    <input class="oreo-radio-frame" type="radio" disabled checked/>
                    <label class="oreo-radio-content textOverflow">复选框</label>
                </div>
                <div class="oreo-select-list oreo-select-bottomLine radio-right">
                    <input class="oreo-radio-frame" name="radio" type="radio" />
                    <label class="oreo-radio-content textOverflow">单选框</label>
                </div>
                <div class="oreo-select-list radio-right">
                    <input class="oreo-radio-frame" name="radio" type="radio" />
                    <label class="oreo-radio-content textOverflow">单选框</label>
                </div>
            </div>
        </div>
        <!-- inline-block radio -->
        <div class="oreo-select">
            <div class="oreo-select-header">Block</div>
            <div class="oreo-select-item inlineBlock-radio">
                <div class="oreo-select-list">
                    <input class="oreo-radio-frame" name="radio" type="radio" value="" />
                    <label class="oreo-radio-content textOverflow">单选框</label>
                </div>
                <div class="oreo-select-list">
                    <input class="oreo-radio-frame" name="radio" type="radio" value="" />
                    <label class="oreo-radio-content textOverflow">单选框</label>
                </div>
                <div class="oreo-select-list">
                    <input class="oreo-radio-frame" name="radio" type="radio" value="" />
                    <label class="oreo-radio-content textOverflow">单选框</label>
                </div>
            </div>
        </div>
        <!-- 全选  全不选 -->
        <h2>全选 全不选</h2>
        <div class="oreo-select">
            <div class="oreo-select-header">selectAll unselectAll</div>
            <div class="oreo-select-item block-checkBox oreo-selectAll">
                <div class="oreo-select-list oreo-selectAll-hd oreo-select-bottomLine">
                    <input class="oreo-checkBox-frame" type="checkbox" name="selectAll" />
                    <label class="oreo-checkBox-content textOverflow">全选/取消全选</label>
                </div>
                <div class="oreo-selectAll-bd">
                    <div class="oreo-select-list">
                        <input class="oreo-checkBox-frame" type="checkbox" name="selectAll" />
                        <label class="oreo-checkBox-content textOverflow">超长文本选项超长文本选项超长文本选项超长文本选项</label>
                    </div>
                    <div class="oreo-select-list">
                        <input class="oreo-checkBox-frame" type="checkbox" name="selectAll" />
                        <label class="oreo-checkBox-content textOverflow">全选全不选</label>
                    </div>
                    <div class="oreo-select-list">
                        <input class="oreo-checkBox-frame" type="checkbox" name="selectAll" />
                        <label class="oreo-checkBox-content textOverflow">复选框</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // 全选 全不选
    $(function() {
        var oInput = $("input[name='selectAll']");
        var isCheckAll = function() {
            for (var i = 1, n = 0; i < oInput.length; i++) {
                oInput[i].checked && n++
            }
            oInput[0].checked = n == oInput.length - 1;
        };
        $(oInput[0]).on('click', function() {
            for (var i = 1; i < oInput.length; i++) {
                oInput[i].checked = this.checked
            }
            isCheckAll()
        })
        for (var i = 1; i < oInput.length; i++) {
            $(oInput[i]).on('click', function() {
                isCheckAll()
            })
        }
    })


    $(function() {
        $('.oreo-select-list').on('click', function() {
            var childInput = $(this).children('input');
            var isChecked = childInput.prop("checked"),
                isDisabled = childInput.prop("disabled");
            isChecked = !isChecked;
            if (!isDisabled) {
                isChecked ? childInput.attr('checked', isChecked) : childInput.removeAttr('checked')
            }
        })
    })
</script>