<div class="page">
   <div class="page-hd">
        <div class="demo-name">Form 表单</div>
        <div class="demo-subtitle">包含Input,RadioBox,Switch</div>
    </div>
    <div class="page-body" >
        

        <h2>Basic</h2>

        <div class="oreo-grid oreo-grid-line">
            <div class="oreo-flex">
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        
                        <label class="oreo-switch">
                            <input type="checkbox">
                            <div class="oreo-switch-checkbox"></div>
                        </label>
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        Grid
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        Grid
                    </div>
                </div>
            </div>
            
        </div>



        

    </div>
</div>