<div class="page">
   <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
        Form 表格</div>
        <div class="demo-subtitle">Input,Radio,Checkbox,Switch,Textarea</div>
    </div>
    <div class="page-body" style="padding:0;">

        <h2>Input</h2>

        <div class="oreo-list oreo-list-line">
            <div class="oreo-list-header">不同状态的Input</div>
            <div class="oreo-list-body">
                <div class="oreo-list-item oreo-input">
                    <div class="oreo-input-label">姓名</div>
                    <div class="oreo-input-control">
                        <input type="text" placeholder="请输入真实姓名">
                    </div>
                </div>
                <div class="oreo-list-item oreo-input">
                    <div class="oreo-input-label">姓名</div>
                    <div class="oreo-input-control">
                        <input type="text" value="Mr.庄周">
                    </div>
                </div>
                <div class="oreo-list-item oreo-input oreo-input-disabled">
                    <div class="oreo-input-label">姓名</div>
                    <div class="oreo-input-control">
                        <input type="text" value="不可编辑" disabled>
                    </div>
                </div>
            </div>
        </div>

        <div class="oreo-list oreo-list-line">
            <div class="oreo-list-header">不带Label标签</div>
            <div class="oreo-list-body">
                <div class="oreo-list-item oreo-input">
                    <div class="oreo-input-control">
                        <input type="text" placeholder="请输入真实姓名">
                    </div>
                </div>
                <div class="oreo-list-item oreo-input">
                    <div class="oreo-input-control">
                        <input type="password" placeholder="请输入密码">
                    </div>
                </div>
            </div>
        </div>

        <h2>Textarea</h2>
        <div class="oreo-list oreo-list-line">
            <div class="oreo-list-header">文本域</div>
            <div class="oreo-list-body">
                <div class="oreo-list-item oreo-textarea">
                    <div class="oreo-textarea-control">
                        <textarea name="" id="" placeholder="请输入个人简介" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="oreo-list oreo-list-line">
            <div class="oreo-list-header">字数统计</div>
            <div class="oreo-list-body">
                <div class="oreo-list-item oreo-textarea">
                    <div class="oreo-textarea-control">
                        <textarea name="" id="" placeholder="请输入个人简介" rows="3"></textarea>
                    </div>
                    <span class="oreo-textarea-count">
                        <span>0</span>/100
                    </span>
                </div>
            </div>
        </div>

        <h2>Switch</h2>

        <div class="oreo-list">
            <div class="oreo-list-body">
                <div class="oreo-list-item">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">关闭状态</div> 
                        <div class="oreo-list-item-extra">
                            <label class="oreo-switch">
                                <input type="checkbox">
                                <div class="oreo-switch-box"></div>
                            </label>
                        </div> 
                    </div>
                </div>
                <div class="oreo-list-item">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">开启状态</div> 
                        <div class="oreo-list-item-extra">
                            <label class="oreo-switch">
                                <input type="checkbox" checked>
                                <div class="oreo-switch-box"></div>
                            </label>
                        </div> 
                    </div>
                </div>
                <div class="oreo-list-item">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">不可点击状态</div> 
                        <div class="oreo-list-item-extra">
                            <label class="oreo-switch">
                                <input type="checkbox" disabled>
                                <div class="oreo-switch-box"></div>
                            </label>
                        </div> 
                    </div>
                </div>
                 <div class="oreo-list-item">
                    <div class="oreo-list-item-line">
                        <div class="oreo-list-item-content">不可点击开启状态</div> 
                        <div class="oreo-list-item-extra">
                            <label class="oreo-switch">
                                <input type="checkbox" disabled checked>
                                <div class="oreo-switch-box"></div>
                            </label>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>