<div class="page">
   <div class="page-hd">
        <div class="demo-name">Grid 布局</div>
        <div class="demo-subtitle">该布局基于flex,支持多列</div>
    </div>
    <div class="page-body" style="padding:0;">
        

        <h2>Basic</h2>

        <div class="oreo-grid oreo-grid-line">
            <div class="oreo-flex">
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        Grid
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        Grid
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        Grid
                    </div>
                </div>
            </div>
            <div class="oreo-flex">
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        Grid
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        Grid
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        Grid
                    </div>
                </div>
            </div>
        </div>


        <h2>Grid-line,Icon</h2>

        <div class="oreo-grid oreo-grid-line">
            <div class="oreo-flex">
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        <img class="oreo-grid-item-icon" src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <div class="oreo-grid-item-text">Grid</div>
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        <img class="oreo-grid-item-icon" src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <div class="oreo-grid-item-text">Grid</div>
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                   <div class="oreo-grid-item-content">
                        <img class="oreo-grid-item-icon" src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <div class="oreo-grid-item-text">Grid</div>
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                   <div class="oreo-grid-item-content">
                        <img class="oreo-grid-item-icon" src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <div class="oreo-grid-item-text">Grid</div>
                    </div>
                </div>
            </div>
             <div class="oreo-flex">
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        <img class="oreo-grid-item-icon" src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <div class="oreo-grid-item-text">Grid</div>
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        <img class="oreo-grid-item-icon" src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <div class="oreo-grid-item-text">Grid</div>
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                   <div class="oreo-grid-item-content">
                        <img class="oreo-grid-item-icon" src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <div class="oreo-grid-item-text">Grid</div>
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                   <div class="oreo-grid-item-content">
                        <img class="oreo-grid-item-icon" src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <div class="oreo-grid-item-text">Grid</div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Grid-square</h2>
        <div class="oreo-grid oreo-grid-line oreo-grid-square">
            <div class="oreo-flex">
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        <img class="oreo-grid-item-icon" src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <div class="oreo-grid-item-text">Grid</div>
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        <img class="oreo-grid-item-icon" src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <div class="oreo-grid-item-text">Grid</div>
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                   <div class="oreo-grid-item-content">
                        <img class="oreo-grid-item-icon" src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <div class="oreo-grid-item-text">Grid</div>
                    </div>
                </div>
            </div>
             <div class="oreo-flex">
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        <img class="oreo-grid-item-icon" src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <div class="oreo-grid-item-text">Grid</div>
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                    <div class="oreo-grid-item-content">
                        <img class="oreo-grid-item-icon" src="http://owz1rt8et.bkt.clouddn.com/icon/icon.png" alt="">
                        <div class="oreo-grid-item-text">Grid</div>
                    </div>
                </div>
                <div class="oreo-flex-item oreo-grid-item">
                   <div class="oreo-grid-item-content">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>