<div class="page home">
    <div class="page-hd">
        <div class="demo-title">OREO UI</div>
        <div class="demo-subtitle">一款基于移动端UI库, 本库仅提供各类常用Css样式, 如需使用功能, 请下载Vue版. Coming soon...</div>
    </div>
    <div class="page-body">
        <ul>
            <li class="demo-list">
                <div class="demo-list-header oreo-list-item-line">
                    <div class="demo-list-category">表单 Form</div>
                    <div class="oreo-list-arrow demo-list-arrow"></div>
                </div>

                <div class="demo-list-body">
                    <div class="oreo-list ">
                        <div class="oreo-list-body">
                            <div class="oreo-list-item oreo-list-item-link" data-page="button">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Button</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="badge">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Badge</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="form">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Form</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="checkbox">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Checkbox</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="radio">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Radio</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="list">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">List</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="footer">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Footer</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="result">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">result</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="steps">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Steps</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="javascript:;" class="demo-list-item" data-page="button">Button</a>
                    <a href="javascript:;" class="demo-list-item" data-page="input">Input</a>
                    <a href="javascript:;" class="demo-list-item" data-page="form">Form</a>
                    <a href="javascript:;" class="demo-list-item" data-page="list">List</a> -->
                </div>
            </li>
            <li class="demo-list">
                <div class="demo-list-header oreo-list-item-line">
                    <div class="demo-list-category">布局 Layout</div>
                    <div class="oreo-list-arrow demo-list-arrow"></div>
                </div>
                <div class="demo-list-body">
                    <div class="oreo-list ">
                        <div class="oreo-list-body">
                            <div class="oreo-list-item oreo-list-item-link" data-page="flex">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Flex</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="grid">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Grid</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 
                <div class="demo-list-body">
                    <a href="javascript:;" class="demo-list-item" data-page="flex">Flex</a>
                    <a href="javascript:;" class="demo-list-item" data-page="grid">Grid</a>
                </div> -->
            </li>
            <li class="demo-list">
                 <div class="demo-list-header oreo-list-item-line">
                    <div class="demo-list-category">导航 Navigation</div>
                    <div class="oreo-list-arrow demo-list-arrow"></div>
                </div>
                <div class="demo-list-body">
                    <div class="oreo-list ">
                        <div class="oreo-list-body">
                            <div class="oreo-list-item oreo-list-item-link" data-page="navbar">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Navbar</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="tabbar">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Tabbar</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="tab">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Tabs</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="demo-list">
                 <div class="demo-list-header oreo-list-item-line">
                    <div class="demo-list-category"> 操作反馈 Feedback</div>
                    <div class="oreo-list-arrow demo-list-arrow"></div>
                </div>
                <div class="demo-list-body">
                    <div class="oreo-list ">
                        <div class="oreo-list-body">
                            <div class="oreo-list-item oreo-list-item-link" data-page="modal">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Modal</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="toast">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Toast</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="dialog">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Dialog</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="actionsheet">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">ActionSheet</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="demo-list">
                 <div class="demo-list-header oreo-list-item-line">
                    <div class="demo-list-category"> 数据展示 Data Display</div>
                    <div class="oreo-list-arrow demo-list-arrow"></div>
                </div>
                <div class="demo-list-body">
                    <div class="oreo-list ">
                        <div class="oreo-list-body">
                            <div class="oreo-list-item oreo-list-item-link" data-page="footer">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">Footer</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                            <div class="oreo-list-item oreo-list-item-link" data-page="Share">
                                <div class="oreo-list-item-line">
                                    <div class="oreo-list-item-content">share</div>
                                    <div class="oreo-list-arrow"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>