<div class="page">
    <div class="page-hd">
        <div class="demo-title">OREO UI</div>
        <div class="demo-subtitle">一款基于移动端UI库, 本库仅提供各类常用Css样式, 如需使用功能, 请下载Vue版. Coming soon...</div>
    </div>
    <div class="page-body">
        <ul>
            <li class="demo-list">
                <div class="demo-list-header">
                    表单 Form
                </div>
                <div class="demo-list-body">
                    <a href="javascript:;" class="demo-list-item" data-page="button">Button</a>
                    <a href="javascript:;" class="demo-list-item" data-page="input">Input</a>
                    <a href="javascript:;" class="demo-list-item" data-page="form">Form</a>
                </div>
            </li>
            <li class="demo-list">
                <div class="demo-list-header">
                    布局 Layout
                </div>
                <div class="demo-list-body">
                    <a href="javascript:;" class="demo-list-item" data-page="flex">Flex</a>
                    <a href="javascript:;" class="demo-list-item" data-page="grid">Grid</a>
                </div>
            </li>
            <li class="demo-list">
                <div class="demo-list-header">
                    表单
                </div>
                <div class="demo-list-body">
                </div>
            </li>
            <li class="demo-list">
                <div class="demo-list-header">
                    表单
                </div>
                <div class="demo-list-body">
                </div>
            </li>
        </ul>
    </div>
</div>