<div class="page">
    <div class="page-hd">
        input
        
    </div>
    <div class="page-body">
        <!-- 默认输入框 -->
        <div class="oreo-input-header">default</div>
        <div class="oreo-input border">
            <input class="oreo-input-default" type="text" placeholder="请输入文本">
        </div>
        <!-- 不可编辑状态 -->
        <div class="oreo-input-header">disabled</div>
        <div class="oreo-input">
            <input class="oreo-input-default oreo-input-disable" type="text" value="disabled" disabled>
        </div>
        <!-- 多列显示 -->
        <div class="oreo-input-header">多列输入框</div>
        <div class="oreo-input oreo-input-cols">
            <input class="oreo-input-default cols-frame" type="text" placeholder="1">
            <span class="cols-line"></span>
            <input class="oreo-input-default cols-frame" type="text" placeholder="2">
        </div>
        <!-- 密码输入框 -->
        <div class="oreo-input-header">密码输入框</div>
        <div class="oreo-input oreo-input-iconBox">
            <input class="oreo-input-default oreo-input-password" type="password" placeholder="请输入文本" value="">
            <i class="oreo-input-icon oreo-input-password-icon"></i>
        </div>
        <!-- 带取消按钮的输入框 -->
        <div class="oreo-input-header">带取消按钮</div>
        <div class="oreo-input oreo-input-iconBox border">
            <input class="oreo-input-default oreo-input-delete" type="text" placeholder="请输入文本" value="">
            <i class="oreo-input-icon"></i>
        </div>
        <div class="oreo-input-header">带选择按钮</div>
        <div class="oreo-input oreo-input-iconBox border">
            <input class="oreo-input-default oreo-input-select" type="number" placeholder="请输入文本" value="">
            <div class="oreo-input-select-box">
                <i class="oreo-input-select-up"></i>
                <i class="oreo-input-select-down"></i>
            </div>
        </div>
        <!-- 带图标的输入框 -->
        <div class="oreo-input-header">图标在左</div>
        <div class="oreo-input oreo-input-iconBox border">
            <i class="oreo-input-icon oreo-input-icon-person"></i>
            <input class="oreo-input-default" type="text" placeholder="请输入用户名">
        </div>
        <div class="oreo-input-header">图标在右</div>
        <div class="oreo-input oreo-input-iconBox border">
            <input class="oreo-input-default" type="text" placeholder="请输入用户名">
            <i class="oreo-input-icon oreo-input-icon-person"></i>
        </div>
        <div class="oreo-input-header">图标在右</div>
        <div class="oreo-input oreo-input-iconBox border">
            <div class="oreo-icon-title">名称</div>
            <input class="oreo-input-default" type="text" placeholder="请输入用户名">
            <i class="oreo-input-icon oreo-input-icon-person"></i>
        </div>
        <!-- 标题过长 -->
        <div class="oreo-input-header">标题过长</div>
        <div class="oreo-input oreo-input-iconBox border">
            <div class="oreo-icon-title oreo-input-text-max textOverflow">标题过长标题过长</div>
            <div class="oreo-input-case"><input class="oreo-input-default" type="text" placeholder="请输入用户名"></div>
        </div>
        <!-- 常见列表 -->
        <div class="oreo-input-header">常见列表</div>
        <div class="oreo-input-item border">
            <div class="oreo-input-list oreo-input-bottomLine">
                <label class="input-list-title">手机号</label>
                <input class="input-list-frame" type="number" placeholder="请输入手机号">
            </div>
            <div class="oreo-input-list oreo-input-bottomLine">
                <label class="input-list-title">QQ号</label>
                <input class="input-list-frame" type="number" placeholder="请输入QQ号">
            </div>
            <div class="oreo-input-list">
                <label class="input-list-title">验证码</label>
                <input class="input-list-frame" type="text" placeholder="请输入验证码">
                <input class="input-list-vcode" id="btn" type="button" value="获取验证码">
            </div>
        </div>

    </div>
</div>
<script>
    // 验证码倒计时
    $(function() {
        var wait = 60;

        function time(val) {
            if (wait == 0) {
                val.removeAttribute("disabled");
                val.value = "获取验证码";
                wait = 60;
                $('.oreo-input-vcode').removeClass('active')
            } else {
                val.setAttribute("disabled", true);
                val.value = wait + "s";
                wait--;
                setTimeout(function() {
                    time(val)
                }, 1000)
            }
        }
        $('.input-list-vcode').on('click', function() {
            $(this).addClass('active');
            time(this);
        })
    });

    // 密码输入框
    $(function() {
        $(".oreo-input-password-icon").on("touchstart", function() {
            $('.oreo-input-password').attr('type', 'text');
            $('.oreo-input-password-icon').addClass('password-visible');
        });
        $(".oreo-input-password-icon").on("touchend", function() {
            $('.oreo-input-password').attr('type', 'password');
            $('.oreo-input-password-icon').removeClass('password-visible');
        });
    });

    // 带取消按钮
    $('.oreo-input-delete').bind('input propertychange', function() {
        var deleteText = $('.oreo-input-delete').val();
        $('.oreo-input-delete').attr("value", deleteText);
        if (deleteText != '') {
            $('.oreo-input-delete').siblings().addClass('oreo-input-delete-icon');
            $('.oreo-input-delete-icon').on('click', function() {
                $('.oreo-input-delete').siblings().removeClass('oreo-input-delete-icon');
                $('.oreo-input-delete').val('');
            })
        } else {
            $('.oreo-input-delete').siblings().removeClass('oreo-input-delete-icon');
        }

    });

    // 带选择按钮
    $(function() {
        $('.oreo-input-select-up').on('click', function() {
            if ($('.oreo-input-select').val() != '') {
                var up = $('.oreo-input-select').val();
                up++;
                $('.oreo-input-select').val(up)
            }
        });
        $('.oreo-input-select-down').on('click', function() {
            if ($('.oreo-input-select').val() != '') {
                var up = $('.oreo-input-select').val();
                up--;
                $('.oreo-input-select').val(up)
            }
        })
    });
</script>