<div class="page">
    <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
            ListView 列表</div>
        <div class="demo-subtitle">适用于通讯录、地区查询等...</div>
    </div>
    <div class="page-body" style="padding:0;">
        <div class="oreo-listView">
            <ul class="oreo-listView-view">
                <li class="oreo-listView-letter">AAAAAAA</li>
                <li class="oreo-listView-item">a1</li>
                <li class="oreo-listView-item">a2</li>
                <li class="oreo-listView-item">a3</li>
                <li class="oreo-listView-item">a4</li>
                <li class="oreo-listView-item">a5</li>
                <li class="oreo-listView-item">A</li>
                <li class="oreo-listView-item">B</li>
                <li class="oreo-listView-item">C</li>
                <li class="oreo-listView-item">D</li>
                <li class="oreo-listView-item">E</li>
                <li class="oreo-listView-item">F</li>
                <li class="oreo-listView-item">G</li>
                <li class="oreo-listView-item">H</li>
                <li class="oreo-listView-item">I</li>
                <li class="oreo-listView-item">J</li>
                <li class="oreo-listView-item">K</li>
                <li class="oreo-listView-item">L</li>
                <li class="oreo-listView-item">M</li>
                <li class="oreo-listView-item">N</li>
                <li class="oreo-listView-item">O</li>
                <li class="oreo-listView-item">P</li>
                <li class="oreo-listView-item">Q</li>
                <li class="oreo-listView-item">R</li>
                <li class="oreo-listView-item">S</li>
                <li class="oreo-listView-item">T</li>
                <li class="oreo-listView-item">U</li>
                <li class="oreo-listView-item">V</li>
                <li class="oreo-listView-item">W</li>
                <li class="oreo-listView-item">X</li>
                <li class="oreo-listView-item">Y</li>
                <li class="oreo-listView-item">Z</li>
                <li class="oreo-listView-item">A</li>
                <li class="oreo-listView-item">B</li>
                <li class="oreo-listView-item">C</li>
                <li class="oreo-listView-item">D</li>
                <li class="oreo-listView-item">E</li>
                <li class="oreo-listView-item">F</li>
                <li class="oreo-listView-item">G</li>
                <li class="oreo-listView-item">H</li>
                <li class="oreo-listView-item">I</li>
                <li class="oreo-listView-item">J</li>
                <li class="oreo-listView-item">K</li>
                <li class="oreo-listView-item">L</li>
                <li class="oreo-listView-item">M</li>
                <li class="oreo-listView-item">N</li>
                <li class="oreo-listView-item">O</li>
                <li class="oreo-listView-item">P</li>
                <li class="oreo-listView-item">Q</li>
                <li class="oreo-listView-item">R</li>
                <li class="oreo-listView-item">S</li>
                <li class="oreo-listView-item">T</li>
                <li class="oreo-listView-item">U</li>
                <li class="oreo-listView-item">V</li>
                <li class="oreo-listView-item">W</li>
                <li class="oreo-listView-item">X</li>
                <li class="oreo-listView-item">Y</li>
                <li class="oreo-listView-item">Z</li>
                <li class="oreo-listView-letter">BBBBBBB</li>
                <li class="oreo-listView-item">b1</li>
                <li class="oreo-listView-item">b2</li>
                <li class="oreo-listView-item">b3</li>
                <li class="oreo-listView-item">b4</li>
                <li class="oreo-listView-item">b5</li>
                <li class="oreo-listView-letter">CCCCCC</li>
                <li class="oreo-listView-item">c1</li>
                <li class="oreo-listView-item">c2</li>
                <li class="oreo-listView-item">c3</li>
                <li class="oreo-listView-item">c4</li>
                <li class="oreo-listView-item">c5</li>
                <li class="oreo-listView-letter">DDDDDD</li>
                <li class="oreo-listView-item">d1</li>
                <li class="oreo-listView-item">d2</li>
                <li class="oreo-listView-item">d3</li>
                <li class="oreo-listView-item">d4</li>
                <li class="oreo-listView-item">d5</li>
                <div class="oreo-listView-letter">aaaaaaaa~zzzzzzz</div>
                <li class="oreo-listView-item">A</li>
                <li class="oreo-listView-item">B</li>
                <li class="oreo-listView-item">C</li>
                <li class="oreo-listView-item">D</li>
                <li class="oreo-listView-item">E</li>
                <li class="oreo-listView-item">F</li>
                <li class="oreo-listView-item">G</li>
                <li class="oreo-listView-item">H</li>
                <li class="oreo-listView-item">I</li>
                <li class="oreo-listView-item">J</li>
                <li class="oreo-listView-item">K</li>
                <li class="oreo-listView-item">L</li>
                <li class="oreo-listView-item">M</li>
                <li class="oreo-listView-item">N</li>
                <li class="oreo-listView-item">O</li>
                <li class="oreo-listView-item">P</li>
                <li class="oreo-listView-item">Q</li>
                <li class="oreo-listView-item">R</li>
                <li class="oreo-listView-item">S</li>
                <li class="oreo-listView-item">T</li>
                <li class="oreo-listView-item">U</li>
                <li class="oreo-listView-item">V</li>
                <li class="oreo-listView-item">W</li>
                <li class="oreo-listView-item">X</li>
                <li class="oreo-listView-item">Y</li>
                <li class="oreo-listView-item">Z</li>
            </ul>
            <ul class="oreo-listView-navlist">
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
                <li>F</li>
                <li>G</li>
                <li>H</li>
                <li>I</li>
                <li>J</li>
                <li>K</li>
                <li>L</li>
                <li>M</li>
                <li>N</li>
                <li>O</li>
                <li>P</li>
                <li>Q</li>
                <li>R</li>
                <li>S</li>
                <li>T</li>
                <li>U</li>
                <li>V</li>
                <li>W</li>
                <li>X</li>
                <li>Y</li>
                <li>Z</li>
            </ul>
        </div>
    </div>
</div>
<script>
    var a = $(document.body).height() - $('.page-hd').height() + 'px';
    console.log(a);
    var b = $('.page-body').height(a);
    $('.oreo-listView').height(a);
    $('.oreo-listView-navlist').height(a);
    var b = ($('.page-body').height()/26);
    $('.oreo-listView-navlist li').height(b);
    $('.oreo-listView-navlist li').css('lineHeight',b + 'px');
</script>