<div class="page demo-navbar">
   <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
        Navbar 导航</div>
        <div class="demo-subtitle"></div>
    </div>
    <div class="page-body" style="padding:0;">

        <h2>Basic</h2>

        <div class="oreo-navbar">
            <div class="oreo-navbar-left">
                <a href="javascript:;" >
                    <i class="oreo-icon-back"></i>
                    <span>Back</span>
                </a>
            </div>
            <div class="oreo-navbar-center">Default theme</div>
            <div class="oreo-navbar-right">
                Forward                
            </div>
        </div>

        <div class="oreo-navbar oreo-navbar-dark">
            <div class="oreo-navbar-left">
                <a href="javascript:;" >
                    <i class="oreo-icon-back"></i>
                </a>
            </div>
            <div class="oreo-navbar-center">Dark theme</div>
            <div class="oreo-navbar-right">
                <a href="javascript:;">
                    <i class="oreo-icon-ellipsis"></i>
                </a>                
            </div>
        </div>

        <div class="oreo-navbar oreo-navbar-dark oreo-navbar-fixed" style="margin:0;">
            <div class="oreo-navbar-left">
                <span>Back</span>
            </div>
            <div class="oreo-navbar-center">Fixed Navbar</div>
            <div class="oreo-navbar-right">
                <a href="javascript:;">
                    <i class="oreo-icon-ellipsis"></i>
                </a>               
            </div>
        </div>
    </div>
</div>