<div class="page">
    <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
            Radio 单选框</div>
    </div>
    <div class="page-body" style="padding:0;">
        <!-- 选择框在左 -->
        <h2>选择框在左</h2>
        <div class="oreo-list-body">
            <div class="oreo-list-item oreo-radio">
                <div class="oreo-radio-thumb">
                    <input class="oreo-radio-thumb-inner" type="radio" value="" name="radio" />
                </div>
                <label class="oreo-radio-label">超长文本选项超长文本选项超长文本选项超长文本选项超长文本选项</label>
            </div>
            <div class="oreo-list-item oreo-radio">
                <div class="oreo-radio-thumb">
                    <input class="oreo-radio-thumb-inner" type="radio" value="" name="radio" />
                </div>
                <label class="oreo-radio-label">单选框</label>
            </div>
            <div class="oreo-list-item oreo-radio">
                <div class="oreo-radio-thumb">
                    <input class="oreo-radio-thumb-inner" type="radio" value="" name="radio" />
                </div>
                <label class="oreo-radio-label">单选框</label>
            </div>
            <div class="oreo-list-item oreo-radio">
                <div class="oreo-radio-thumb">
                    <input class="oreo-radio-thumb-inner" type="radio" value="" disabled checked/>
                </div>
                <label class="oreo-radio-label">单选框</label>
            </div>
        </div>
        <h2>选择框在右</h2>
        <div class="oreo-list-body">
            <div class="oreo-list-item oreo-radio inner-right">
                <div class="oreo-radio-thumb">
                    <input class="oreo-radio-thumb-inner" type="radio" value="" name="radio" />
                </div>
                <label class="oreo-radio-label">超长文本选项超长文本选项超长文本选项超长文本选项超长文本选项</label>
            </div>
            <div class="oreo-list-item oreo-radio inner-right">
                <div class="oreo-radio-thumb">
                    <input class="oreo-radio-thumb-inner" type="radio" value="" name="radio" />
                </div>
                <label class="oreo-radio-label">单选框</label>
            </div>
            <div class="oreo-list-item oreo-radio inner-right">
                <div class="oreo-radio-thumb">
                    <input class="oreo-radio-thumb-inner" type="radio" value="" name="radio" />
                </div>
                <label class="oreo-radio-label">单选框</label>
            </div>
            <div class="oreo-list-item oreo-radio inner-right">
                <div class="oreo-radio-thumb">
                    <input class="oreo-radio-thumb-inner" type="radio" value="" disabled checked/>
                </div>
                <label class="oreo-radio-label">单选框</label>
            </div>
        </div>
        <h2>radio</h2>
        <div class="oreo-list-body oreo-radio-agree">
            <div class="oreo-list-item oreo-radio radio-agree">
                <div class="oreo-radio-thumb">
                    <input class="oreo-radio-thumb-inner" type="radio" value="" />
                </div>
                <label class="oreo-radio-label oreo-radio-flex">同意协议</label>
            </div>
        </div>
    </div>
</div>