<div class="page">
    <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
            tabbar</div>
    </div>
    <div class="page-body" style="padding:0;">
        <div id="tabbar" class="oreo-control-content oreo-active">
            <h2 class="title">这第1个子页面</h2>
            <div class="oreo-list-header">Switch</div>
            <div class="oreo-list">
                <div class="oreo-list-body">
                    <div class="oreo-list-item">
                        <div class="oreo-list-item-line">
                            <div class="oreo-list-item-content">关闭状态</div>
                            <div class="oreo-list-item-extra">
                                <label class="oreo-switch">
                                                    <input type="checkbox">
                                                    <div class="oreo-switch-box"></div>
                                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="oreo-list-item">
                        <div class="oreo-list-item-line">
                            <div class="oreo-list-item-content">开启状态</div>
                            <div class="oreo-list-item-extra">
                                <label class="oreo-switch">
                                                    <input type="checkbox" checked>
                                                    <div class="oreo-switch-box"></div>
                                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabbar-with-chat" class="oreo-control-content">
            <h2 class="title">第2个子页面</h2>
            <div class="oreo-list-header">Grid-item,Square</div>
            <div class="oreo-grid oreo-grid-line oreo-grid-square">
                <div class="oreo-flex">
                    <div class="oreo-flex-item oreo-grid-item">
                        <div class="oreo-grid-item-content">
                            <span class="oreo-tabbar-icon oreo-icon-home"></span>
                            <div class="oreo-grid-item-text">Grid</div>
                        </div>
                    </div>
                    <div class="oreo-flex-item oreo-grid-item">
                        <div class="oreo-grid-item-content">
                            <span class="oreo-tabbar-icon oreo-icon-home"></span>
                            <div class="oreo-grid-item-text">Grid</div>
                        </div>
                    </div>
                    <div class="oreo-flex-item oreo-grid-item">
                        <div class="oreo-grid-item-content">
                            <span class="oreo-tabbar-icon oreo-icon-home"></span>
                            <div class="oreo-grid-item-text">Grid</div>
                        </div>
                    </div>
                </div>
                <div class="oreo-flex">
                    <div class="oreo-flex-item oreo-grid-item">
                        <div class="oreo-grid-item-content">
                            <span class="oreo-tabbar-icon oreo-icon-home"></span>
                            <div class="oreo-grid-item-text">Grid</div>
                        </div>
                    </div>
                    <div class="oreo-flex-item oreo-grid-item">
                        <div class="oreo-grid-item-content">
                            <span class="oreo-tabbar-icon oreo-icon-home"></span>
                            <div class="oreo-grid-item-text">Grid</div>
                        </div>
                    </div>
                    <div class="oreo-flex-item oreo-grid-item">
                        <div class="oreo-grid-item-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabbar-with-contact" class="oreo-control-content">
            <h2 class="title">第3个子页面</h2>
            <div class="oreo-list oreo-list-line">
                <div class="oreo-list-header">不同状态的Input</div>
                <div class="oreo-list-body">
                    <div class="oreo-list-item oreo-input">
                        <div class="oreo-input-label">姓名</div>
                        <div class="oreo-input-control">
                            <input type="text" placeholder="请输入真实姓名">
                        </div>
                    </div>
                    <div class="oreo-list-item oreo-input">
                        <div class="oreo-input-label">姓名</div>
                        <div class="oreo-input-control">
                            <input type="text" value="Mr.庄周">
                        </div>
                    </div>
                    <div class="oreo-list-item oreo-input oreo-input-disabled">
                        <div class="oreo-input-label">姓名</div>
                        <div class="oreo-input-control">
                            <input type="text" value="不可编辑" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabbar-with-map" class="oreo-control-content">
            <h2 class="title">第4个子页面</h2>
            <div class="oreo-list ">
                <div class="oreo-list-header">带图标,带链接,不带border</div>
                <div class="oreo-list-body">
                    <div class="oreo-list-item oreo-list-item-link">
                        <div class="oreo-list-item-thumb">
                            <span class="oreo-tabbar-icon oreo-icon-home"></span>
                        </div>
                        <div class="oreo-list-item-line">
                            <div class="oreo-list-item-content">标题</div>
                            <div class="oreo-list-item-extra"></div>
                            <div class="oreo-list-arrow"></div>
                        </div>
                    </div>
                    <div class="oreo-list-item oreo-list-item-link">
                        <div class="oreo-list-item-thumb">
                            <i class="oreo-icon-user" style="font-size:16px;"></i>
                        </div>
                        <div class="oreo-list-item-line">
                            <div class="oreo-list-item-content">标题</div>
                            <div class="oreo-list-item-extra">这是一个链接</div>
                            <div class="oreo-list-arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="oreo-tabbar">
            <div class="oreo-tabbar-item oreo-tabbar-active" href="#tabbar">
                <span class="oreo-tabbar-icon">
                    <img src="http://owz1rt8et.bkt.clouddn.com/icon/YDUI-home.svg" alt="">
                    <sup class="oreo-tabbar-sign oreo-badge">新消息</sup>
                </span>
                <span class="oreo-tabbar-label">首页</span>
            </div>
            <div class="oreo-tabbar-item" href="#tabbar-with-chat">
                <span class="oreo-tabbar-icon">
                    <img src="http://owz1rt8et.bkt.clouddn.com/icon/YDUI-footer.svg" alt="">
                    <sup class="oreo-tabbar-sign oreo-badge">9</sup>
                </span>
                <span class="oreo-tabbar-label">足迹</span>
            </div>
            <div class="oreo-tabbar-item" href="#tabbar-with-contact">
                <span class="oreo-tabbar-icon">
                    <img src="http://owz1rt8et.bkt.clouddn.com/icon/YDUI-menu.svg" alt="">
                    <sup class="oreo-tabbar-sign oreo-badge">99+</sup>
                </span>
                <span class="oreo-tabbar-label">通讯录</span>
            </div>
            <div class="oreo-tabbar-item" href="#tabbar-with-map">
                <span class="oreo-tabbar-icon">
                    <img src="http://owz1rt8et.bkt.clouddn.com/icon/YDUI-user.svg" alt="">
                    <sup class="oreo-tabbar-sign oreo-badge-dot"></sup>
                </span>
                <span class="oreo-tabbar-label">个人中心</span>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        if ($(".oreo-tabbar-item").hasClass('oreo-tabbar-active')) {
            $($(".oreo-tabbar-item").attr('href')).show().siblings().hide()
        }
        $(".oreo-tabbar-item").on('click', function() {
            $(this).addClass('oreo-tabbar-active').siblings().removeClass('oreo-tabbar-active');
            $($(this).attr('href')).show().siblings().hide();
        })
    })
</script>