<div class="page">
   <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
        Tag 标签</div>
        <div class="demo-subtitle"></div>
    </div>
    <div class="page-body" style="padding:0;">

        <h2>Basic</h2>

        <div class="oreo-tag">
            <div class="oreo-tag-defult">
                <div class="oreo-tag-defult-red">标签</div>
                <div class="oreo-tag-defult-blue">标签</div>
            </div>
            <div class="oreo-tag-"></div>
        </div>
    </div>
</div>