<div class="page">
    <div class="page-hd">
        <div class="demo-name">
            <a href="./" class="oreo-icon-home demo-home oreo-icon"></a>
            Tag 标签</div>
        <div class="demo-subtitle"></div>
    </div>
    <div class="page-body" style="padding:0;">

        <div class="oreo-tag">
            <h2>Basic</h2>
            <div class="oreo-tag-small">
                <div class="oreo-tag-defult">标签</div>
                <div class="oreo-tag-red">标签</div>
                <div class="oreo-tag-blue">标签</div>
                <div class="oreo-tag-green">标签</div>
                <div class="oreo-tag-purple">标签</div>
                <div class="oreo-tag-orange">标签标签标签标签</div>
            </div>
            <div class="oreo-tag-middle">
                <div class="oreo-tag-defult">标签</div>
                <div class="oreo-tag-red">标签</div>
                <div class="oreo-tag-blue">标签</div>
                <div class="oreo-tag-green">标签</div>
                <div class="oreo-tag-purple">标签</div>
                <div class="oreo-tag-orange">标签标签标签标签</div>
            </div>
            <div class="oreo-tag-big">
                <div class="oreo-tag-defult">标签</div>
                <div class="oreo-tag-red">标签</div>
                <div class="oreo-tag-blue">标签</div>
                <div class="oreo-tag-green">标签</div>
                <div class="oreo-tag-purple">标签</div>
                <div class="oreo-tag-orange">标签标签标签标签</div>
            </div>
            <h2>半圆</h2>
            <div class="oreo-tag-semicircle">
                <div>我是标签</div>
            </div>
            <h2>三角标签</h2>
            <div class="oreo-tag-triangle">
                <a class="left">三角标签</a>
                <a class="right">三角标签</a>
            </div>
        </div>
    </div>
</div>