@import "./fn.less";
*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}
html,
body {
    position: relative;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: @font-family-base;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

img {
    border-style: none;
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}

textarea {
    overflow: auto;
}

input {
    padding: 0
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout:none;
}
a, input, textarea, select {
    outline: 0;
}
a {
    text-decoration: none;
}