@import '../../base/fn.less';
@buttonPrefixCls: oreo-button;

.@{buttonPrefixCls} {
    display: block;
    position: relative;

    outline: 0;
    padding: 0;
    text-align: center;
    
    font-size: @font-size-headline;    
    color: @brand-primary;
    background: @fill-base;
    box-shadow: 0 0 0 1px #108ee9;
    border-radius: @radius-md;
    .setHeight(@button-height);
    &:active{
        background: rgba(0,122,255,.15);
    }
    &-disabled{
        color: @color-text-disabled;
        background: @fill-disabled;
        border: 0;
    }
    &-primary{
        color: @color-text-base-inverse;
        background: @brand-primary;
        box-shadow: 0 0 0 1px @brand-primary;
        &.@{buttonPrefixCls}-disabled{
           opacity: .7!important;
        }
        &:active{
             background-color: @brand-primary-tap;
        }
    }
    &-success{
        color: @color-text-base-inverse;
        background: @brand-success;
        box-shadow: 0 0 0 1px @brand-success;
        &.@{buttonPrefixCls}-disabled{
           opacity: .7!important;
        }
        &:active{
             background-color: @brand-success-tap;
        }
    }
    &-error{
        color: @color-text-base-inverse;
        background: @brand-error;
        box-shadow: 0 0 0 1px @brand-error;
        &.@{buttonPrefixCls}-disabled{
           opacity: .7!important;
        }
        &:active{
             background-color: @brand-error-tap;
        }
    }
    &-inline{
        display: inline-block;
        padding: 0 @h-spacing-lg;
    }
    &-round{
        border-radius: @radius-max;
    }
    &-small{
        .setHeight(@button-height-sm);
    }
}