@import '../../base/fn.less';
@listPrefixCls: oreo-list;

.@{listPrefixCls} {
    position: relative;
    &.no-header {
        margin-top: .7rem;
    }
    &.@{listPrefixCls}-line {
        .@{listPrefixCls}-body {
            &:before {
                .setTopLine(@border-color-base);
                //  .setTopLine(red);
            }
            &:after {
                .setBottomLine(@border-color-base);
                // .setBottomLine(red);
            }
        }
    }
    &-header {
        padding: @list-header-padding;
        font-size: @font-size-title;
        color: @color-text-caption;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
    }
    &-footer {
        padding: @list-footer-padding;
        font-size: @font-size-base;
        color: @color-text-caption;
    }
    &-body {
        position: relative;
        background-color: @fill-base;
        &>div:not(:last-child) {
            .@{listPrefixCls}-item-line:after {
                .setBottomLine(@border-color-base);
            }
        }
        .@{listPrefixCls}-item{
            &.@{listPrefixCls}-item-search{
                .@{listPrefixCls}-item-line:after {
                    display: none;
                }
            }
        }
        
    }
    &-item {
        position: relative;
        display: flex;
        padding-left: @h-spacing-md;
        min-height: @list-item-height;
        background-color: @fill-base;
        overflow: hidden;
        transition: background-color .2s;
        align-items: stretch;
        justify-content: center;
        
        &-thumb {
            display: flex;
            align-items: center;

            img,i{
                width: @icon-size-md;
                vertical-align: middle;
            }
            &:first-child {
                margin-right:@h-spacing-md;
            }
        }
        &-line {
            position: relative;
            display: flex;
            flex: 1;
            padding-right: @h-spacing-md;
            overflow: hidden;
            align-items: center;
            // min-height: @list-item-height;
            .@{listPrefixCls}-item-content {
                flex: 1;
                color: @color-text-base;
                font-size: @font-size-headline;
                // width: auto;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: nowrap;
            }
            .@{listPrefixCls}-item-extra {
                // flex-basis: 36%;
                color: @color-text-caption;
                font-size: @fonit-size-caption;
                text-align: right;
            }
            .@{listPrefixCls}-arrow{
                visibility: hidden;
                display: block;
                width: @icon-size-xxs;
                height: @icon-size-xxs;
                margin-left: @h-spacing-sm;
                .svg-background('right');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50% 50%;

                transition: transform .3s;
                &-down{
                    visibility: visible;
                    transform: rotate(90deg);
                }
                &-up{
                    visibility: visible;
                    transform: rotate(270deg);
                }
            }
        }
        &.@{listPrefixCls}-item-multi {

            .@{listPrefixCls}-item-thumb{
                img,i{
                    width: @icon-size-xl;
                    vertical-align: middle;
                }
            }
            .@{listPrefixCls}-item-line {
                padding: @list-multi-item-padding;
            }
            .@{listPrefixCls}-item-content {
                .@{listPrefixCls}-item-title {}
                .@{listPrefixCls}-item-brief {
                    color: @color-text-caption;
                    font-size: @font-size-caption-sm;
                    line-height: @line-height-paragraph;
                }
            }
        }
        &.@{listPrefixCls}-item-link {
            cursor: pointer;
            // .@{listPrefixCls}-item-extra {
            //     &:after {
            //         content: '';
            //         .setArrow(right, 8px, @color-icon-base, 2px);
            //     }
            // }
            .@{listPrefixCls}-arrow{
                 visibility: visible;
            }
            &:active{
                background: @fill-tap;
            }
        }
        &.@{listPrefixCls}-item-search{
            padding: @v-spacing-md;
            .@{listPrefixCls}-item-thumb{
                width: @across-button-height;
                height: @across-button-height;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .@{listPrefixCls}-item-line{
                width: 100%;
                // height: @across-button-height;
                .@{listPrefixCls}-item-content{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: @font-size-base;
                    overflow: hidden;
                    .@{listPrefixCls}-item-title{
                        font-weight: bold;
                        color: @color-text-paragraph;
                        overflow:hidden; 
                        text-overflow:ellipsis;
                        display:-webkit-box; 
                        -webkit-box-orient:vertical;
                        -webkit-line-clamp:2; 
                    }
                    .@{listPrefixCls}-item-brief{
                        color: @brand-important;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .@{listPrefixCls}-item-info{
                        display: flex;
                        justify-content: space-between;
                        font-size: @font-size-caption-sm;
                        color: @color-text-caption;
                        margin-left: -@h-spacing-md;
                        margin-right: -@h-spacing-md;
                        div{
                            min-width: 20%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            padding: @h-spacing-md;
                        }
                    }
                }  
            }
            &:after{
                .setBottomLine(@border-color-base);
            }
        }
    }
    .@{listPrefixCls}-flex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .@{listPrefixCls}-item-search{
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: @h-spacing-lg;
            .@{listPrefixCls}-item-thumb{
                width: 100%;
                margin-right: 0;
            }
            .@{listPrefixCls}-item-line{
                &:after{
                    display: none;
                }
            }
            &:nth-child(2n+1){
                border-right: @border-width-sm solid @border-color-base; 
            }
        }
    } 
}