@import "../../base/fn.less";

//变量
@listPrefix: o-list;
//函数
.flex(@justify, @align, @direction) when(@direction = row){
    display: flex;
    justify-content: @justify;
    align-items: @align;
    flex-direction: @direction;
}
.o-list-none{
    display: none;
}
.o-list-block{
    display:block;
}
.list-hd{
    padding-left: @padding;
}
//向右指向的箭头
.@{listPrefix}-arrow-right{
    .setArrow(right, @linkArrowSize, @linkArrowColor, @linkArrowBorder);
    vertical-align: middle;
    margin-top: .1rem;
}
.@{listPrefix}-arrow-down{
    transition: all .5s;
    .setArrow(down, @linkArrowSize, @linkArrowColor, @linkArrowBorder);
    vertical-align: middle;
    margin-top: .1rem;
}
.@{listPrefix}-arrow-top{
    transition: all .5s;
    .setArrow(top, @linkArrowSize, @linkArrowColor, @linkArrowBorder);
}

.@{listPrefix}-hd{
    padding-left: @padding;
    height: @list-min-height;
    line-height: @list-min-height;
}

.o-list-extra{
    font-size: @listSubTitleFontSize;
    color: @listExtraColor;
    span{
        vertical-align: middle;
    }
}
.@{listPrefix}-subtext{
    font-size: @listSubTitleFontSize;
    color: @listSubTitleColor;
    margin-top: @listSubTitleMarginTop;
}

.@{listPrefix}-item{
    background-color: @listBgWhite;
    padding-left: @padding;
    
    .@{listPrefix}-content{
        min-height: @list-min-height;
        padding-right: @padding;
        position: relative;
        display: flex;
        align-items: center;
        &::after{
            .setBottomLine(@c: @onepxColor);
        }
        &:last-child::after{
            .setBottomLine(@c: transparent);
        }
        .@{listPrefix}-text{
            flex: 1;
            font-size: @listTitleFontSize;
            color: @listTitleColor;
        }
        .@{listPrefix}-extra,.@{listPrefix}-subtext{
            font-size: @listSubTitleFontSize;
            color: @listSubTitleColor;
        }
    }
    .@{listPrefix}-inner{
        padding-right: @padding;
        padding-top: @padding;
        padding-bottom: @padding;
        min-height: @list-min-height;
        position: relative;
        flex: 1;
        &:not(:last-child):after{
            .setBottomLine(@c: @onepxColor);
        }
        & div{
            display: flex;
            align-items: center; 
        }
        & .@{listPrefix}-text{
            flex: 1;
        }
        
    }

    .@{listPrefix}-withImg{
        .flex(flex-start, center, row);
        position: relative;
        .img{
            width:.9rem;
            height:.9rem;
            margin-right: @margin;
        }
        &:not(:last-child):after{
            .setBottomLine(@c: @onepxColor);
        }
    }

    .@{listPrefix}-icon{
        // min-height: @list-min-height;
        display: flex;
        align-items: center;
        position: relative;
        .icon{
            width:.5rem;
            height:.5rem;
            margin-right: @margin;
        }
        .o-list-line{
            position: relative;
            min-height: @list-min-height;
            padding-right: @padding;
            flex: 1;
            display: flex;
            align-items: center;
            .@{listPrefix}-text{
                flex: 1;
            }
            
        }
        &:not(:last-child) .o-list-line:after{
            .setBottomLine(@c: @onepxColor);
        }
    }
    
    
}

.@{listPrefix}-hover{
    background-color: @fill-base;
    .@{listPrefix}-content{
        display: flex;
        align-items: center;
        padding-right: @padding;
        min-height: @list-min-height;
        position: relative;
        &:active{
            background-color: @listHoverColor;
        }
        &:after{
            .setBottomLine(@c: @onepxColor);
        }
        &:last-child:after{
            .setBottomLine(@c: transparent);
        }
        .o-list-text{
            flex: 1;
        }
    }
}
.@{listPrefix}-entire{
    background-color: @fill-base;
    .@{listPrefix}-content{
        min-height: @list-min-height;
        padding-right: @padding;
        padding-left: @padding;
        position: relative;
        display: flex;
        align-items: center;
        &:after{
            .setBottomLine(@c: @onepxColor);
        }
        &:last-child:after{
            .setBottomLine(@c: transparent);
        }
        .@{listPrefix}-text{
            font-size: @listTitleFontSize;
            color: @listTitleColor;
            width: auto;
            flex: 1;
        }
        .@{listPrefix}-extra,.@{listPrefix}-subtext{
            font-size: @listSubTitleFontSize;
            color: @listSubTitleColor;
            span{
                vertical-align: middle;
            }
        }
    }
}












//按钮
.o-btn{
    padding: .08rem .16rem;
    background-color: @fill-base;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}


