@import '../../base/fn.less';
@modalPrefixCls: oreo-modal;


.fixed(){
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;    
    z-index: @modal-zindex;
}

.@{modalPrefixCls}{
    display: flex;
    align-items: center;
    justify-content: center;
    
    .fixed();
    &.@{modalPrefixCls}-backdrop{
        background: @fill-mask;
    }
    &.@{modalPrefixCls}-top{
        align-items: flex-start;
        .@{modalPrefixCls}-content{
            width: 100%;
            max-height: 80vh;
            height: auto;
            overflow: auto;
            border-radius: 0;
        }
    }
    &.@{modalPrefixCls}-bottom{
         align-items: flex-end;
        
        .@{modalPrefixCls}-content{
            width: 100%;
            max-height: 80vh;
            height: auto;
            overflow: auto;
            border-radius: 0;
        }
    }
    &.@{modalPrefixCls}-left{
        justify-content: flex-start;
        .@{modalPrefixCls}-content{
            // max-height: 80vh;
            // height: auto;
            height: 100%;
            overflow: auto;
            max-width: 90vw;
            border-radius: 0;
        }
    }
    &.@{modalPrefixCls}-right{
        justify-content: flex-end;
        .@{modalPrefixCls}-content{
            // max-height: 80vh;
            // height: auto;
            height: 100%;
            overflow: auto;
            max-width: 90vw;
            border-radius: 0;
        }
    }
    &.@{modalPrefixCls}-max{
        .@{modalPrefixCls}-content{
            max-height: 100%;
            max-width: 100%;
            height: 100%;
            width: 100%;
            border-radius: 0;
        }  
    }
    &.@{modalPrefixCls}-min{
        .@{modalPrefixCls}-content{
            max-height: 80vh;
            height: auto;
            max-width: 90vw;
        }
    }
    .@{modalPrefixCls}-content{
        position: relative;
        background: @fill-base;
        border-radius: @radius-sm;
    }
    
}
.@{modalPrefixCls}-mask{
    .fixed();
    background: @fill-mask;
}


.@{modalPrefixCls},
.@{modalPrefixCls}-content{
     transition: all .4s cubic-bezier(.55, 0, .1, 1);
}

.@{modalPrefixCls}-top-enter,
.@{modalPrefixCls}-top-leave-active{
    opacity: 0;
    .@{modalPrefixCls}-content{
        transform: translateY(-101%);
    }
}

.@{modalPrefixCls}-bottom-enter,
.@{modalPrefixCls}-bottom-leave-active{
    opacity: 0;
    .@{modalPrefixCls}-content{
        transform: translateY(101%);
    }
}

.@{modalPrefixCls}-left-enter,
.@{modalPrefixCls}-left-leave-active{
    opacity: 0;
    .@{modalPrefixCls}-content{
        transform: translateX(-101%);
    }
}

// modal 默认动画
.@{modalPrefixCls}-enter,
.@{modalPrefixCls}-leave-active,
.@{modalPrefixCls}-right-enter,
.@{modalPrefixCls}-right-leave-active{
     opacity: 0;
    .@{modalPrefixCls}-content{
        transform: translateX(101%);
    }
}

.@{modalPrefixCls}-fade-enter{
    opacity: 0;
    .@{modalPrefixCls}-content{
        transform: scale(1.2)
    }
}
.@{modalPrefixCls}-fade-leave-active{
    opacity: 0;
    .@{modalPrefixCls}-content{
        transform: scale(0.8);
    }
}