@import '../../base/fn.less';
@toastPrefixCls: oreo-toast;

.@{toastPrefixCls} {
    position: fixed;
    
    width: 100%;
    z-index: @toast-zindex;
    font-size:@font-size-base;
    text-align: center;

    &.@{toastPrefixCls}-mask{
        display: flex;
        justify-content: center;
        align-items: center;

        left: 0;
        top: 0;

        height: 100%;
    }
    &.@{toastPrefixCls}-nomask{
        position: absolute;
        max-width: 50%;
        width: auto;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .@{toastPrefixCls}-text{
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: @toast-width;
        border-radius: @radius-sm;
        color: @color-text-base-inverse;
        background-color: @fill-overlay-inverse;
        line-height: @line-height-paragraph;

        &,&.@{toastPrefixCls}-text-horizontal{
            flex-direction: row;
            padding: @v-spacing-md @h-spacing-lg;

            .@{toastPrefixCls}-icon{
                // margin:0  @h-spacing-sm 0 0;
                width: @icon-size-md;
                height: @icon-size-md;
            }
            .@{toastPrefixCls}-msg{
                margin:0 0 0 @h-spacing-sm;
            }
        }
        &.@{toastPrefixCls}-text-vertical{
            flex-direction: column;
            padding: @h-spacing-lg;

            .@{toastPrefixCls}-icon{
                // margin:0 0  @v-spacing-md 0;
                width: @icon-size-lg;
                height: @icon-size-lg;
            }
            .@{toastPrefixCls}-msg{
                margin: @v-spacing-md 0 0 0;
            }
        }
        .@{toastPrefixCls}-icon,
        .@{toastPrefixCls}-msg{
            display: flex;
        }

        .@{toastPrefixCls}-success{
            .svg-background('success');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;

        }
        .@{toastPrefixCls}-failure{
            .svg-background('failure');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
}