

//margin值
@margin: .3rem;
@padding: .3rem;
@list-height: .9rem;

//link箭头(左右，上下)
@linkArrowColor: @border-color-base;
@linkArrowSize: @font-size-subhead;
@linkArrowBorder: @border-width-lg;
@linkArrowPaddingTop: .1rem;

//list行高
@listRowHeight: @list-height;

//细线的色值
@onepxColor: @border-color-base;

//list的hover状态的色值
@listHoverColor: #d7f6e8;

//list中主要信息字体
@listTitleFontSize: @font-size-subhead;
@listSubTitleFontSize: @font-size-base;
@listTitleColor: @color-text-paragraph;
@listSubTitleColor: @color-icon-base;

//list中背景白色
@listBgWhite: @fill-base;
