@oreoGridBackground: @fill-base;
@oreoGridItemBackgroundActive: @fill-tap;
@oreoGridBorderColor: @border-color-base;
@oreoGridItemTextMarginTop:@v-spacing-md;

@oreoGridItemPadding:15px 0;
@oreoGridItemIconWidth:25%;