// default
@oreoInputWidth:96%;
@oreoInputHeight:80px;
@oreoInputLineHeight:80px;
@oreoInputOutline:none;
@oreoBorder:1px solid #ddd;

// item
@oreoInputGapH:0;
@oreoInputGapW:20px;

// vcode(验证码)
@oreoInputVcodeW:180px;

// col-line
@oreoInputColLineW:50px;
@oreoInputColLineH:2Px;
@oreoInputColLineBg:#999;
@oreoInputColLineGap:10px;

// input-padding
@oreoInputPadGap:20px;

// icon-marginRight
@iconInputIconMR:10px;
