// default
@oreoInputWidth:96%;
@oreoInputHeight:.8rem;
@oreoInputLineHeight:.8rem;
@oreoInputOutline:none;
@oreoBorder:1px solid #ddd;

// item
@oreoInputGapH:0;
@oreoInputGapW:.2rem;

// vcode
@oreoInputVcodeWidth:1.8rem;
