@import "../../base/fn.less";
@badgePrefixCls: oreo-badge;
@tagPrefixCls: oreo-tag;

.@{badgePrefixCls}-text{

    font-size: 12px;
    display: inline-block;
    color: @color-text-base-inverse;

    background-color: @brand-important;
    border-radius: 26px;
    padding: 0 6px;
    height: 20px;
    line-height: 20px;
    box-sizing: border-box;
    text-align: center;
}


.setColor(@color:#fff){
    color: @color;
    border: 1px solid @color;
}
.setSize(@width:0,@height:0){
    max-width: @width;
    height:@height;
    line-height: @height; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.@{tagPrefixCls}{
    &-small{
        .setSize(1.7rem, .24rem);
        border-radius: .04rem;
        font-size: .4rem;
        display: inline-block;
        padding: 0 .06rem;
        zoom: .5;
    }
    &-middle{
        .setSize(2rem, .36rem);
        font-size: .24rem;
        padding: 0 .06rem;
        border-radius: .06rem;
        display: inline-block;
    }
    &-big{
        .setSize(2.7rem, .4rem);
        font-size: .32rem;
        padding: 0 .06rem;
        border-radius: .08rem;
        display: inline-block;
    }
    &-default{
        .setColor(#999);
    }
    &-red{
        .setColor(#F64F4F);
    }
    &-blue{
        .setColor(#2075F4)
    }
    &-green{
        .setColor(#52BA0D);
    }
    &-purple{
        .setColor(#A350F1);
    }
    &-orange{
        .setColor(#FFB82F);
    }
    &-semicircle{
        border-radius: 0 .2rem .2rem 0;
        .setSize(1.4rem, .4rem);
        .setColor(red);
        div{    
            .setSize(90%, .4rem);
        }
    }
    // 三角标签
    &-triangle{
        .direction{
            display: inline-block;
            // margin: .6rem;
            position: relative;
            padding: 0px .1rem;
            background: #ccc;
            color: green;
            line-height: 1.6;
            margin-left: .4rem;
            border-radius: 0;
            max-width: 2rem;
            div{
                .setSize(100%, .44rem);
            }
            &:before{
                position: absolute;
                content: " ";
                border: .22rem solid transparent;
                top: 0;
                height: 0;
                width: 0;
            }
            &:after{
                position: absolute;
                content: " ";
                background: white;
                width: .16rem;
                height: .16rem;
                top: .12rem;
                border-radius: 50%;
                    box-shadow: 0 0 1px 1px #999 inset;
            }
        }
        .left{
            &:before{
                left: -.44rem;
                border-right-color: #ccc;
            }
            &:after{
                left: -.1rem;
            }
        }
        .right{
            &:before{
                right: -.44rem;
                border-left-color: #ccc;
            }
            &:after{
                right: -.1rem;
            }
        }
    }
    
}
.@{badgePrefixCls}-dot{
    display:inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: @brand-important;
}